<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" />
    <title>SWMM Knowledge Graph</title>
    <link rel="stylesheet" th:href="@{/static/KnowledgeGraph/css/amaze/css/amazeui.min.css}" />
    <link
      rel="stylesheet"
      th:href="@{/static/KnowledgeGraph/css/amaze/extension/datetimepicker/css/amazeui.datetimepicker.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/static/KnowledgeGraph/css/amaze/extension/datatables/amazeui.datatables.css}"
    />
	<link rel="stylesheet" th:href="@{/static/KnowledgeGraph/js/leaflet/leaflet.css}" />
    <link rel="stylesheet" th:href="@{/static/KnowledgeGraph/css/kgstyle.css}" />
    <link th:href="@{/static/KnowledgeGraph/css/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/base/index2.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/common/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/common/footerResponse.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/index/bootstrap.min.css" />

    <style>
      .am-g.am-datatable-footer {
        display: flex;
      }
      .am-g.am-datatable-footer .am-u-sm-5 {
        width: 0 !important;
      }
      .am-g.am-datatable-footer .am-u-sm-7 {
        width: 100% !important;
      }
    </style>
  </head>
  <body>
    <div class="container" id="app">
      <div class="aside">
        <div>
          <i class="fa fa-globe fa-3x" style="color:#98df8a"></i>
          <h4>SWMM</h4>
        </div>
        <div class="tags">
          <span class="tag">Distributed</span>
          <span class="tag">Hydrologic Model</span>
        </div>
        <div class="desc">
          EPA's Stormwater Management Model (SWMM) is used for single event or
          long-term simulations of water runoff quantity and quality in
          primarily urban areas–although there are also many applications that
          can be used for drainage systems in non-urban areas. It is used
          throughout the world for planning, analysis, and design related to
          stormwater runoff, combined and sanitary sewers, and other drainage
          systems. SWMM was developed to help support local, state, and national
          stormwater management objectives to reduce runoff through infiltration
          and retention, and help to reduce discharges that cause impairment of
          our Nation’s waterbodies.
        </div>
        <ul class="menu">
          <li v-bind:class="{active:active===0}" @click="indexChange(0)">
            index
          </li>
          <li v-bind:class="{active:active===1}" @click="indexChange(1)">
            History
          </li>
          <li v-bind:class="{active:active===2}" @click="indexChange(2)">
            Map
          </li>
          <li v-bind:class="{active:active===3}" @click="indexChange(3)">
            Keywords
          </li>
        </ul>
      </div>
      <div class="main">
        <div class="graphPanel" v-show="active===0">
          <div id="searchPanel">
            <p>请选择年份</p>
            <input
              type="text"
              value="2018"
              id="datetimepicker"
              class="am-form-field"
            />
          </div>
          <ul class="legend"></ul>
          <div id="d3Canvas"></div>
          <div
            class="am-panel am-panel-default am-animation-slide-right"
            id="infoPanel"
            v-if="infoPanelShow"
          >
            <div class="am-panel-hd">
              {{ nodeName }}
              <a href="#" class="am-close pull-right">&times;</a>
            </div>
            <div class="am-panel-bd">
              <table
                class="am-table am-table-striped am-table-bordered am-table-compact"
                id="linkTable"
              >
                <thead>
                  <tr>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Type</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class="historyPanel" v-show="active===1">
          <div class="btn-group">
            <button
              type="button"
              class="am-btn am-round"
              v-bind:class="{'am-btn-default':histroyActive===1,'am-btn-primary':histroyActive===0}"
              @click="historyChange(0)"
            >
              Research trend
            </button>
            <button
              type="button"
              class="am-btn am-round"
              v-bind:class="{'am-btn-default':histroyActive===0,'am-btn-primary':histroyActive===1}"
              @click="historyChange(1)"
            >
              Research Country
            </button>
          </div>
          <div
            v-show="histroyActive===0"
            style="width:100%;height:100%;display: flex"
          >
            <div id="historyGraph"></div>
            <div class="orderPanel">
              <h5>Researcher Order</h5>
              <ul>
                <li
                  v-for="item of researcherOrder"
                  :key="item.id"
                  :id="item.id"
                >
                  <i class="fa fa-user-circle fa-fw"></i>
                  {{ item.name.trim() }}
                </li>
              </ul>
              <h5>Agency Order</h5>
              <ul>
                <li v-for="item of agencyOrder" :key="item.id" :id="item.id">
                  <i class="fa fa-institution fa-fw"></i>
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>

          <div id="countryGraph" v-show="histroyActive===1"></div>
        </div>
        <div class="mapPanel" v-show="active===2">
          <div id="leadletMap"></div>
        </div>
        <div class="keywordsPanel" v-show="active===3">
          <div id="keywordChart"></div>
        </div>
      </div>
    </div>
  </body>
  <script th:src="@{/static/KnowledgeGraph/js/vue.js}"></script>
  <script th:src="@{/static/KnowledgeGraph/js/jquery.js}"></script>
  <script th:src="@{/static/KnowledgeGraph/js/d3.js}"></script>
  <script th:src="@{/static/KnowledgeGraph/css/amaze/js/amazeui.js}"></script>
  <script th:src="@{/static/KnowledgeGraph/css/amaze/extension/datetimepicker/js/amazeui.datetimepicker.min.js}"></script>
  <script th:src="@{/static/KnowledgeGraph/css/amaze/extension/datatables/amazeui.datatables.js}"></script>
  <script th:src="@{/static/KnowledgeGraph/js/echarts/echarts.js}"></script>
  <script th:src="@{/static/KnowledgeGraph/js/leaflet/leaflet.js}"></script>
  <script th:src="@{/static/KnowledgeGraph/js/geojsonhint.js}"></script>
  <!-- <script src="js/echarts/extension/echarts-gl.js"></script> -->
  <!-- <script src="js/echarts//extension/modularity.js"></script> -->
  <script th:src="@{/static/KnowledgeGraph/js/swmm.js}"></script>
  <script src="../static/js/index/bootstrap.min.js"></script>
  <script src="../static/js/common/backTop.js/"></script>
</html>
