
.wrap * { margin: 0; padding: 0; font-size: 14px}
.wrap{
     width: 100%;
     margin: 0 auto;
}

#mainBar ul {
    /*width:100%;*/
    /*height: 55px;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #080a0e;

}

/*.logo li{*/
/*    width: 160px;*/
/*    height: 53px;*/
/*    padding: 0px;*/
/*}*/

.mainBarLogo{
    width: 220px !important;
    height: 52px !important;
    margin-left: 20px;
    margin-right: auto;
    background-image: url("/static/img/logo.png");
    background-size: auto 45px !important;
    background-repeat: no-repeat;
    padding: 0px !important;

}

.mainBarLogo>a{
    width: 140px;
    height: 10px;
}

.main li{
    float: left;
    width: 8%;
    height: 52px;
    margin-top: 10px;
    transition:.4s;
    border-bottom:2px solid;
    border-bottom-color:#080a0e;
}

.main li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding:16px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .4s;
    /*background-color: #080a0e;*/
}

.mainmenu{
    display: block;
}

.indentmenu{
    display: none;
}

.arrow{
    display: inline-block;
    position: absolute;

    margin-top:5px;
    margin-left: 10px;
    border-top: 1.2px solid;
    border-right: 1.2px solid;
    width: 6.5px;
    height: 6.5px;
    color: white;
    transform: rotate(135deg);
    z-index: 1;
}

.sub{
    display: none;
    position: absolute;
    top: 62px;
    transition: .5s;
    /*left: 30%;*/
    /*padding-top:1px;*/
    /*z-index: 2057;*/
    /*background-color: blanchedalmond;*/
}

.sub>ul{
    background-color: rgba(0, 0, 0, 0.85) !important;
    margin-top: 2.5px !important;
    box-shadow: 1px 2px 12px 0 rgba(0, 0, 0, 0.5) ;
    border-radius: 2px;
}

.sub li{
    display: block;
    width: 200px;
    height: 45px;
    transition:.5s;

}

.sub li a{
    display: block;
    color: whitesmoke;
    text-align: left;
    width: 170px;
    padding:14px 0px;
    margin-left:30px;
    text-decoration: none;
    overflow: hidden;
    transition:.5s;
}

.subLog{
    display: none;
    position: absolute;
    top: 62px;
}

.subLog>ul{
    background-color: rgba(0, 0,0, 0.87) !important;
    margin-top: 2px !important;
    box-shadow: 1px 2px 12px 0 rgba(0, 0, 0, 0.4) ;
}

.subLog li{
    display: block;
    width: 150px;
    height: 50px;
    transition:.5s;

}

.subLog li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    width: 140px;
    padding:14px 0px;
    margin-left:5px;
    text-decoration: none;
    overflow: hidden;
    transition:.5s;
}

.zmax{
    z-index: 99999;
}

.lsubComm{
    display: none;
    position: relative;
    background-color: #111111;
}

.lsubComm>li{
    background-color: #111111;
}

.lsubHelp{
    display: none;
    position: relative;
    background-color: #111111;
}

.lsubHelp>li{
    background-color: #111111;
}

.fullSub{
    position: relative;
    width:100%;
}

.fullSub li{
    display: block;
    width: 100%;
    height: 50px;
    transition:.5s;
    background-color: rgba(0,0,0,1);
}

.fullSub li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding:16px 22px;
    text-decoration: none;
    overflow: hidden;
    transition:.5s;
}

.phoneSubSUb li{
    background-color: rgba(0,0,0,0.92);
}

.lsubComm>li{
    background-color: rgba(0,0,0,0.1)
}
.lsubHelp>li{
    background-color: rgba(0,0,0,0.1)
}



.login{
    display: block;
}

.login>li{
    display: block;
    float: right;
    width: 95px;
    height: 62px;
    margin-top: 0;
    background-color: rgb(0,192,255);
    border-bottom:3px solid;
    border-bottom-color:rgb(0,192,255);
    transition:.5s;
}

.login>li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
    padding:16px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    /*background-color: #080a0e;*/
}

.login2{
    display: none;
}

.login2>li{
    display: block;
    float: right;
    width: 64px;
    height: 62px;
    margin-top: 0;
    background-color: rgb(0,192,255);
    border-bottom:3px solid;
    border-bottom-color:rgb(0,192,255)
}
.login2>li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
    padding:16px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    /*background-color: #080a0e;*/
}

.loged{
    display: none;
}

.loged>li{
    display: block;
    float: right;
    width: 150px;
    height: 62px;
    margin-top: 0;
    background-color: rgb(0,192,255);
    border-bottom:3px solid;
    border-bottom-color:rgb(0,192,255);
    transition:.4s;
}
.loged>li a{
    display: block;
    color: whitesmoke;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    padding:23px 0px 2px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .4s;
    /*background-color: #080a0e;*/
}

.strip{
    display: none;
    float: right;
    margin-right: 10px;
}
/*设置悬停样式，除了命名为.login组件*/
.main li:hover:not(.mainBarLogo){
    border-bottom-color: rgb(0,192,255);
}

.main a:hover{
    color: rgb(0,192,255);
}

.logo:hover{
    border-bottom-color:#080a0e ;
}

.sub a:hover{
    color: rgb(0,192,255);
}


.login li:hover{
    /*background-color: #0AD15D;*/
    /*border-bottom-color: #00c1de;*/
}
.login a:hover{
    font-size: 16px;
    color: rgb(255,255,255) !important;
    /*padding:anto 17px !important;*/
}

.login2 a:hover{
    font-size: 16px;
    color: rgb(255,255,255) !important;
    /*padding:anto 17px;*/

}

.loged a:hover{
    font-weight: 500;
    color: rgb(255,255,255) !important;
    /*padding:anto 17px;*/
}

.loged a:hover .subLog{
    display: block;
    /*padding:anto 17px;*/
}

.phoneLoged{
    display:none;
}

/* .fullsub a:hover{
    color: rgb(0,192,255);
} */

/*自适应*/
@media only screen and (max-width: 970px){
    .login{
        display: none;
    }

    /*.loged{*/
    /*    display: none;*/
    /*}*/

    .login2{
        display: block;
    }

    .mainBarLogo {
        width: 170px !important;
    }

    #menuHome,#menuModel{
        width: 69px !important;
    }
    #menuData{
        width: 62px !important;
    }
    #drop1{
        width: 106px !important;
    }
    #drop2{
        width: 68px !important;
    }
    #menuAbout{
        width: 83px !important;
    }

    #subCommunity{
        left: 379px !important;
    }

    #subHelp{
        left: 487px !important;
    }


}



@media only screen and (max-width: 841px){
    .mainmenu{
        display: none;
    }



    .indentmenu{
        display: block;
    }

    .mainBarLogo {
        width: 150px !important;
    }


}

@media only screen and (max-width: 501px){
    .indentmenu{
        display: none;
    }
    .fullSub{
        display: none;
    }

    .login2{
        display: none;
    }

    .strip{
        display: block;
    }

    .mainBarLogo{
        position: absolute !important;
        left: 0 !important;
        right: 0 !important;
        top: 10px;
        margin: auto !important;

    }

    /*.loged{*/
    /*    display: none;*/
    /*}*/

    /*.phoneLoged{*/
    /*    display: block;*/
    /*}*/
}

.clickBlue{
    border-bottom-color: rgb(0,192,255) !important;
    transition:none;
}

.clickBlue>a{
    color: rgb(0,192,255) !important;
    transition:none;
}