<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Computable Model | OpenGMS</title>

    <link rel="stylesheet" href="/static/OpenLayer/ol.css">
    <script src="/static/OpenLayer/ol.js"></script>


    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/itemInfo.css">
    <link rel="stylesheet" href="/static/css/page/computable_model.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css" />
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="margin:40px 0px;height: auto;">
        <el-col class="left-panel" :span="13" :offset="3" style="border-right: #adadad solid 1px">
            <div class="detail">
                <div class="detail_title">
                    <h2 th:utext="${modelInfo.name}+'&nbsp&nbsp'" style="display: inline-block">SWATModelAllInOne&nbsp&nbsp</h2>
                    <a href="javascript:void(0)" class='fa fa-pencil fa-2x' aria-hidden='true'></a>
                    <a href="javascript:void(0)" class='fa fa-star-o fa-2x pull-right' aria-hidden='true'></a>
                </div>
                <div class="detail_overview">

                    <div class="img">
                        <img src="/static/img/model/calcModel.png">
                    </div>

                    <div class="info">
                        <p th:text="${modelInfo.description}">The objective of the SWAT model is to predict the effect of management decisions on water,
                            sediment, nutrient and pesticide yields with reasonable accuracy on large, ungaged river basins.</p>
                        <div class="tags">
                            <span th:each="keyword:${modelInfo.keywords}" th:text="${keyword}" class="badge badge-info">DEM Characteristics</span>
                        </div>
                    </div>

                    <div class="detail_option">
                        <a href="javascript:void(0)" class="fa fa-share-square-o" aria-hidden="true"></a>
                        <div th:utext="'&nbsp&nbsp'+${modelInfo.shareCount}">&nbsp&nbsp37</div>
                        <a href="javascript:void(0)" class="fa fa-eye" aria-hidden="true"></a>
                        <div th:utext="'&nbsp&nbsp'+${modelInfo.viewCount}">&nbsp&nbsp341</div>
                        <a href="javascript:void(0)" class="fa fa-thumbs-o-up" aria-hidden="true"></a>
                        <div th:utext="'&nbsp&nbsp'+${modelInfo.thumbsUpCount}">&nbsp&nbsp101</div>
                    </div>

                </div>

            </div>

            <div th:if="${classifications.size()!=0}" id="classification" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Classification(s)</h4>
                    </div>
                </div>
                <div class="block_content" style="margin-top:20px;">
                    <div th:each="classS:${classifications}">
                        <span style="font-size:24px;margin-right: 8px">●</span>
                        <el-breadcrumb separator-class="el-icon-arrow-right">
                            <el-breadcrumb-item th:each="class:${classS}" th:text="${class}" :to="{ path: '/' }">Earth System Classification</el-breadcrumb-item>
                        </el-breadcrumb>
                    </div>
                </div>
            </div>

            <div id="mechanism" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Mechanism</h4>
                    </div>
                </div>
                <div class="block_content">
                    <table id="mechanism_table" class="table table-bordered text-center">
                        <thead>
                            <tr><th class='text-center'>Name</th><th class='text-center'>Value</th><th class='text-center'>Type</th>
                        </thead>
                        <colgroup>
                            <col class="col1" style="width: 30%">
                            <col class="col2">
                        </colgroup>

                        <tbody>
                            <tr>
                                <td>
                                    SlopeCalculatingMethod
                                </td>
                                <td>
                                    D8
                                </td>
                                <td>
                                    Algorithm
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    WaterStreamCalculating
                                </td>
                                <td>
                                    WaterStreamCalculating
                                </td>
                                <td>
                                    Text
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div id="applicstion" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Application</h4>
                    </div>
                </div>
                <div class="block_content">

                    <table id="application_table" class="table table-bordered text-center">
                        <thead>

                        </thead>
                        <colgroup>
                            <col class="col1" style="width: 30%">
                            <col class="col2">
                        </colgroup>

                        <tbody>
                            <tr><td><strong>Spatiotemporal Scale</strong></td><td>Global</td></tr>
                            <tr><td><strong>Resolution Constraint</strong></td><td><strong>Value</strong></td></tr>
                            <tr><td>X</td><td>(0,180] | m</td></tr></tr>
                            <tr><td>Y</td><td>(0,180) | km</td></tr></tr>
                            <tr><td>Z</td><td>(0,180) | m</td></tr></tr>
                            <tr><td><strong>Area Name</strong></td><td>Taihu</td></tr>
                            <tr><td><strong>Extent</strong></td><td><div id="map"></div></td></tr>
                        </tbody>

                    </table>

                </div>
            </div>

            <div id="runtime" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Runtime<span class="label label-info" style="margin-left:5px;padding-top:0.3em">V1.1.0</span></h4>
                    </div>
                </div>
                <div class="block_content">
                    <table id="runtime_table" class="table table-bordered text-center">
                        <colgroup>
                            <col class="col1" style="width: 20%">
                            <col class="col2">
                        </colgroup>
                        <thead>
                        <tr >
                            <th class="text-center">Type</th>
                            <th class="text-center">Property</th>
                            <th class="text-center">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="1">HardwareConfigure</td>
                                <td>Main Frequency</td>
                                <td>2.8</td>
                            </tr>

                            <tr>
                                <td rowspan="4">SoftwareConfigure</td>
                                <td>Operation Platform</td>
                                <td>Windows</td>
                            </tr>
                            <tr>
                                <td>Language Platform</td>
                                <td>MSVC 2013 x64</td>
                            </tr>
                            <tr>
                                <td>Language Platform</td>
                                <td>C# 2010</td>
                            </tr>
                            <tr>
                                <td>Memory Size</td>
                                <td>50M</td>
                            </tr>

                            <tr>
                                <td rowspan="3">Assembly</td>
                                <td>GDALRasterMapping.exe</td>
                                <td>$(DataMappingPath)\GDALRasterMapping\</td>
                            </tr>
                            <tr>
                                <td>OGRVectorMapping.exe</td>
                                <td>$(DataMappingPath)\OGRVectorMapping\</td>
                            </tr>
                            <tr>
                                <td>TauDEM_Path</td>
                                <td>$(ModelServicePath)\TauDEMExe\</td>
                            </tr>

                            <tr>
                                <td rowspan="2">SupportiveResource</td>
                                <td>library</td>
                                <td>GDAL</td>
                            </tr>
                            <tr>
                                <td>runtime</td>
                                <td>MSMPI</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!--<div id="cite" class="detail_block">-->
                <!--<div class="block_head">-->
                    <!--<div class="head_text">-->
                        <!--<h4>How to cite</h4>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="block_content">-->
                    <!--<div id="cite-text" class="">-->
                        <!--Tom Marvolo Riddle.(2018).Integrated stand growth model data,-->
                        <!--<a href="https://geomodeling.njnu.edu.cn/computablemodel/4e028983-c8c0-4d98-86cd-85fc16a00d21">https://geomodeling.njnu.edu.cn/dataitem/4e028983-c8c0-4d98-86cd-85fc16a00d21</a>-->
                    <!--</div>-->
                    <!--<div class="btn btn-info">-->
                        <!--Copy-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div id="related_models" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Related Models</h4>
                    </div>
                </div>
                <el-tabs class="block_content" v-model="activeName" type="card" stretch="true">
                    <el-tab-pane label="Model Item" name="Model Item">
                        <div class="list_panel clearfix">
                            <div class="img">
                                <img src="/static/img/model/model.png">
                            </div>
                            <div class="info" style="margin-top:0px;">
                                <a href="javascript:void(0)">Ground Water Flow System</a>
                                <p style="margin-top: 0px">ANN-CA uses the artificial neural network method to extract
                                    land use change rules in the study area, and then applies the rules to subsequent
                                    simulations and predictions.</p>
                            </div>
                        </div>
                        <div class="list_panel clearfix" style="margin-top: 10px">
                            <div class="img">
                                <img src="/static/img/model/model.png">
                            </div>
                            <div class="info" style="margin-top:0px;">
                                <a href="javascript:void(0)">Ground Water Flow System</a>
                                <p style="margin-top: 0px">ANN-CA uses the artificial neural network method to extract
                                    land use change rules in the study area, and then applies the rules to subsequent
                                    simulations and predictions.</p>
                            </div>
                        </div>
                        <div class="list_panel clearfix" style="margin-top: 10px;border:none">
                            <div class="img">
                                <img src="/static/img/model/model.png">
                            </div>
                            <div class="info" style="margin-top:0px;">
                                <a href="javascript:void(0)">Ground Water Flow System</a>
                                <p style="margin-top: 0px">ANN-CA uses the artificial neural network method to extract
                                    land use change rules in the study area, and then applies the rules to subsequent
                                    simulations and predictions.</p>
                            </div>
                        </div>

                        <div class="text-center">
                            <el-pagination
                                    layout="prev, pager, next"
                                    :total="50">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Logical Model" name="Logical Model">Logical Model</el-tab-pane>

                </el-tabs>
            </div>

        </el-col>
        <el-col class="right-panel" :span="5">
            <div id="Owner" class="detail_block" style="margin-bottom: 30px">

                <div class="block_content">
                    <img src="/static/img/icon/default.png" class="round_icon" style="width:50px;height: 50px;float:left;">
                    <div class="text-center" style="margin-left: 55px;display: block;">
                        <a href="javascript:void(0)"><h4 th:text="${modelInfo.author.toUpperCase()}">FENGYUANZHANG</h4></a>
                    </div>
                    <div class="text-center">
                        <h5 th:text="'contributed at '+${date}">contributed at 2018-7-13 14:32:18 </h5>
                    </div>
                </div>
            </div>
            <div id="Contributer" class="detail_block">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>Server Info</h4>
                    </div>
                </div>
                <div class="block_content">

                    <div style="margin-top:10px;" class="col-sm-12 col-xs-12"><div data-toggle="modal" data-target="#myModal" class="serverInfo"><div class="serverName">
                        WIN-9068R3NAREN
                    </div> <div class="serverDesc"><b>System:</b>Windows_NT</div> <i class="fa fa-thumbs-o-up"></i> <div class="progressBar width"></div></div></div>


                </div>
            </div>
        </el-col>


    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>

<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/page/computable_model.js"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/js/common/navbar.js"></script>

</html>