<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Data Item Info | OpenGMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="icon" type="image/x-icon"  th:href="@{/static/img/logo/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/element-ui/theme-chalk/index.css}">

    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css" th:href="@{/static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css"
          th:href="@{/static/css/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" href="/static/css/font-awesome/fonts/fontawesome-webfont.woff"
          th:href="@{/static/css/font-awesome/fonts/fontawesome-webfont.woff}">

    <link rel="stylesheet" href="/static/css/base/style.css" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" href="/static/css/base/universal.css" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" href="/static/css/page/data_item_info.css" th:href="@{/static/css/page/data_item_info.css}">
    <link rel="stylesheet" href="/static/css/components/file-manager.css" th:href="@{/static/css/components/file-manager.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css" />

    <style type="text/css" th:inline="css">
        .col-md-5 {
            float: none;
        }

        .align-right {
            font-weight: bold;
            text-align: right;
        }


    </style>
</head>
<body>
<div id="data_item_info">
    <div th:replace="fragments/navbar :: unlog"></div>


    <div class="clearfix" style="margin:40px 0px;height: auto;">
        <div class="left-panel el-col el-col-15 el-col-offset-2"  style="border-right: #adadad solid 1px">
            <div class="detail">
                <div class="detail_title" th:object="${datainfo}">
                    <h2 style="display: inline-block" th:text="${datainfo.data.name}">name&p&nbspnbs</h2>
                    <!--<a href="javascript:void(0)" class='fa fa-pencil fa-2x' aria-hidden='true'></a>-->
                    <!--<a href="javascript:void(0)" class='fa fa-star-o fa-2x pull-right' aria-hidden='true'></a>-->
                </div>

                <div class="detail_overview">

                    <div class="img" th:object="${datainfo}">
                        <!--<img th:if="${datainfo.data.type == 'option1'}" th:src="@{/static/img/model/data.png}">-->
                        <avatar   th:username="${datainfo.data.name}" :size="90" :rounded="false" ></avatar>

                        <!--<img th:unless="${datainfo.data.image!=Null}" th:src="${datainfo.data.image}">-->
                    </div>

                    <div class="info" th:object="${datainfo}">
                        <p th:text="${datainfo.data.description}">description</p>
                        <div class="tags">
                            <span class="badge badge-info" th:each="key,iter : ${datainfo.data.keywords}"
                                  th:text="${iter.current}">itercurrent</span>


                        </div>
                    </div>

                    <div class="detail_option" th:object="${datainfo}">

                        <a href="javascript:void(0)" class="fa fa-eye" aria-hidden="true"></a>&nbsp&nbsp<span>{{viewCount}}</span>

                    </div>

                </div>

            </div>

            <!--data resource url-->
            <div id="data_url" class="detail_block" th:if="${datainfo.data.reference!=''}">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Data Resource Url</h4>
                    </div>
                </div>
                <div class="block_content flex" >
                    <div id="data-url" class="">
                        <a th:href="${datainfo.data.reference}" id="" target="_blank="><span style="font-size: 17px;color: #67c23a;" th:text="${datainfo.data.reference}">current</span>
                        </a>
                    </div>

                </div>

            </div>
            <!--description-->
            <div id="description" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Detailed Description</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="detail" class="detailIntroducePanel" th:utext="${datainfo.data.detail}" style="overflow:auto"></div>
                </div>
                <div class="fullPaper text-center hide">
                    <a id="fullPaper" style="cursor:pointer;font-size:16px;">View Full Content<i class="fa fa-angle-down"
                                                                                              style="margin-left: 10px;color:red;font-weight: bold"
                                                                                              aria-hidden="true"></i></a>
                </div>

            </div>




            <!--related models-->
            <div id="relatedmodels" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Related Models</h4>
                    </div>
                </div>
                <div class="block_content flex"  >



                    <el-tabs value="first" >
                        <el-tab-pane label="Related Models List" name="first" style="width: 100%;height:320px;">

                            <el-card v-show="relatedModelNotNull"  class="is-hover-shadow relatedModelsInfo"  v-for="item in related3Models" style="margin-top: 10px;margin-bottom: 10px;">
                                <div > <strong>Modle: <a :href="checkRelatedModels(item)" target="_blank">{{item.name}}</a></strong>
                                    <br><strong>Description:</strong><span>{{item.description}}</span>

                                </div>

                            </el-card>
                            <el-button v-show="relatedModelNotNull" @click="showRelatedModels" type="primary" icon="el-icon-star-off" style="width: 100%">

                                More...
                            </el-button>
                            <el-card v-show="relatedModelIsNull" class="is-never-shadow relatedModelsInfo" style="margin-top: 10px;margin-bottom: 10px"  >
                                <div style="
                                    text-align: center;
                                    font-weight: 600;
                                    margin-top: 30px;
                                    margin-bottom: 20px;">
                                    <strong>There are no related models for this data, you can add one!</strong>

                                </div>

                                <el-button @click="addRelatedModel()" type="primary" icon="el-icon-plus" style="width: 100%">
                                    add the first model for this data
                                </el-button>
                            </el-card>

                        </el-tab-pane>

                        <el-tab-pane label="Search From Related Models" name="second">
                            <div style="
                                    text-align: center;
                                    font-weight: 600;
                                    margin-top: 30px;
                                    margin-bottom: 20px;
                                "><span>Search the models from the current data related models</span></div>

                            <el-button type="success" @click="showRelatedModels" icon="el-icon-search" style="width: 100%">

                                search related
                            </el-button>

                        </el-tab-pane>

                        <!--search related model dialog-->
                        <el-dialog
                                title="Related Models of current Data"
                                :visible.sync="searchRelatedModelsDialogVisible"
                                width="30%"
                                height="50%"
                                :before-close="handleClose"
                                style="overflow-y: scroll"
                        >


                            <el-input v-model="relatedModelsSearchText" placeholder="search related models.."  @keyup.native="searchFromRelatedModels"></el-input>
                            <el-card id="allReM" class="is-never-shadow" style="height: 300px;overflow-y: scroll" v-loading="loading" @scroll.native="loadMore($event)"  >

                                <div class="el-card is-hover-shadow relatedModelsInfo" v-for="item in allRelatedModels" style="margin-top: 10px;margin-bottom: 10px;">
                                    <div > <strong>Modle: <a :href="checkRelatedModels(item)" target="_blank">{{item.name}}</a></strong>
                                        <br><strong>Description:</strong><span>{{item.description}}</span>

                                    </div>
                                </div>
                                <div v-if="nomore!=''" style="text-align: center">
                                    <span  >no more data</span>
                                </div>


                            </el-card>


                            <span slot="footer" class="dialog-footer">
                            <el-button @click="searchRelatedModelsDialogVisible = false">Cancel</el-button>
                            <el-button type="primary" @click="searchRelatedModelsDialogVisible = false">Sure</el-button>
                          </span>
                        </el-dialog>

                        <el-tab-pane label="Add Models" name="third">
                            <div style="
                                    text-align: center;
                                    font-weight: 600;
                                    margin-top: 30px;
                                    margin-bottom: 20px;
                                "><span>Add the models into the current data related models</span></div>
                            <el-button @click="addRelatedModel()" type="primary" icon="el-icon-plus" style="width: 100%">
                                add models
                            </el-button></br>
                        </el-tab-pane>

                        <!--add related model dialog-->
                        <el-dialog
                                title="Add Models for current data"
                                :visible.sync="addRelatedModelsDialogVisible"
                                width="30%"
                                :before-close="handleClose">


                            <el-form :inline="true"  class="demo-form-inline">
                                <el-radio v-model="value1" label="1" @change="clearSearchResult()" >from my created models</el-radio>
                                <el-radio v-model="value1" label="2" @change="clearSearchResult()">from all models</el-radio>
                            </el-form>

                            <el-input v-model="addModelsSearchText" placeholder="search related models.."  @keyup.enter.native="searchRelatedModels"></el-input></br>

                            <el-alert
                                    title=""
                                    type="success"
                                    :closable="false">
                                {{selectedModels}}

                            </el-alert>


                            <el-card v-if="searchAddRelatedModels.length!=0" class="is-never-shadow relatedModelsInfo" style="height: 300px;overflow-y: scroll" v-loading="loading" @scroll.native="loadAddMore($event)" >

                                <el-card class="is-hover-shadow models_margin_style" v-for="item in searchAddRelatedModels"   @click.native="selectRelatedModel(item,$event)">
                                    <div > <strong>Modle: <a :href="checkRelatedModels(item)" target="_blank">{{item.name}}</a></strong>
                                        <br><strong>Description:</strong><span>{{item.description}}</span>

                                    </div>
                                </el-card>
                                <div v-if="nomore!=''" style="text-align: center">
                                    <span  >no more data</span>
                                </div>


                            </el-card>







                            <span slot="footer" class="dialog-footer">
                            <el-button @click="relatedToCurrentData()" type="success">RelatedToCurrentData</el-button>
                            <!--<el-button type="primary" @click="addRelatedModelsDialogVisible = false">Close</el-button>-->
                          </span>
                        </el-dialog>



                    </el-tabs>
                </div>

            </div>

















            <!--how to cite-->
            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>How to cite</h4>
                    </div>
                </div>
                <div class="block_content flex" th:object="${datainfo}">
                    <div id="cite-text" class="">
                        <span th:text="${datainfo.data.author}">author</span>,"<span
                            th:text="${datainfo.data.name}"></span>",<span th:text="${#dates.format(datainfo.data.createTime,'yyyy-MM-dd')}"></span>,

                        <a src="" id="citeurl"></a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        Copy


                    </div>

                    <!--<el-button>Copy</el-button>-->


                </div>
            </div>




            <!--comment-->
            <div id="comment" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Comments</h4>
                    </div>
                </div>

                <div class="block_content">
                    {{allcomments.length==0?"Give the frst comment":''}}
                    <!--comment  v-for card-->
                    <el-card v-for="(item,key) in allcomments" :key="key" shadow="hover"  >
                        <div class="el-col el-col-4" >
                            <el-badge :value="thumbs===''? item.thumbsUpNumber:(thisthumbs===key?thumbs:item.thumbsUpNumber)"  type="primary">
                                <el-button round @click="thumbsup(key)">❤</el-button>
                            </el-badge>

                        </div>

                        <div class="el-col el-col-20"  >
                            <el-row><span>{{item.comment}}</span></el-row>
                            <hr>
                            <el-row >
                                <div class="el-col el-col-10"   >
                                    <div style="white-space:nowrap;">
                                        <el-button icon="el-icon-edit"   @click="showmycomment(key)" size="mini">Add Comments</el-button>
                                        <el-button icon="el-icon-news"   @click="showcomment(key)" size="mini">Comments(<strong>{{getcommentlength(item.commentsForComment)}}</strong>)</el-button>

                                    </div>

                                    <!--<el-button icon="el-icon-setting" type="text" >donate </el-button>-->
                                </div>
                                <div class="el-col el-col-10"     >


                                    <div  class="el-col el-col-10 el-col-offset-4"  >

                                        <img th:src="@{/static/img/icon/jeff.jpg}" class="round_icon" style="width:45px;height: 50px;float:left;">


                                        <div  style="margin-left: 55px;display: block;" th:object="${datainfo}">

                                            <!--//todo 每项数据绑定作者，这里每个评论绑定作者-->
                                            <!--<a href="javascript:void(0)"><h5 th:text="${datainfo.data.author}"></h5></a>-->
                                            <a href="javascript:void(0)"><h5>{{item.author}}</h5></a>

                                            <!--<h5 th:text="${datainfo.data.lastModifyTime}"></h5>-->
                                            <span style="white-space: nowrap">{{formatDate(item.commentDate)}}</span>

                                        </div>


                                    </div>
                                </div>
                            </el-row>
                        </div>
                        <el-card  v-show="comforcom===key" style="background-color: #f5f5f5" ref="key">

                            <div  class="el-col el-col-20"  >
                                <el-input
                                        type="textarea"
                                        :rows="4"
                                        placeholder="please input content.."
                                        v-model="comforcomtextarea">
                                </el-input><br/><br/>
                            </div>
                            <div class="el-col el-col-4"  >
                                <el-button @click="reply(item.id)">reply</el-button>
                            </div>
                        </el-card>

                        <el-card  v-show="comments=== key" style="background-color: #f5f5f5;overflow-y: scroll;height: 400px"   ref="key">
                            <!--v-for 多个-->
                            <el-card  v-for="(item1,key1) in item.commentsForComment" :key="key1" shadow="hover">
                                <el-row>
                                    <div class="el-col el-col-18"  ><span>{{item1.comment}}</span></div>
                                    <div class="el-col el-col-6"  >
                                        <el-row><strong>by:</strong> <span>{{item1.author}}</span> </el-row>
                                        <el-row><strong>at:</strong> <span >{{formatDate(item1.date)}}</span> </el-row>

                                    </div>
                                </el-row>
                            </el-card>

                        </el-card>

                    </el-card><br/>

                    <hr> <h4><strong>Submit My Comments:</strong></h4><br/>
                    <el-card>
                        <div class="el-col el-col-20"  >
                            <el-input
                                    type="textarea"
                                    :rows="4"
                                    placeholder="please input content.."
                                    v-model="mycommentforthedata">
                            </el-input><br/><br/>
                        </div>
                        <div  class="el-col el-col-4" >
                            <el-button @click="putcomment()">submit</el-button>
                        </div>
                    </el-card>




                </div>


            </div>


        </div>


        <div class="right-panel el-col el-col-5">
            <!--categorys-->
            <div id="classification" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Category Tags</h4>
                    </div>
                </div>
                <div class="block_content" style="margin-top:20px;">

                    <el-tag type="success"  v-for="iter in dataCategory" @click="clickDataItemInfo(iter.id)" style="margin-left: 10px;font-weight: bold;color: #3396ef"> {{iter.cateContent}}</el-tag>


                </div>
            </div>

            <div id="Owner" class="detail_block" style="margin-bottom: 30px">

                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>Contributor</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div class="el-row" style="height: 40px;display: flex;justify-content: center;align-items: Center;">
                        <div class="el-col el-col-4 el-col-offset-3">
                            <img src="/static/img/icon/boy.png" class="round_icon" style="width: 40px; height: 40px; float: left;">
                        </div>

                        <div class="el-col el-col-20">
                            <div class="pull-left" style="margin-left: 25px;display: block;" th:object="${datainfo}">
                                <a href="javascript:void(0)"><h4 th:text="${datainfo.data.author}"></h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="el-row el-col-offset-3" style="margin-top: 10px;color:#428bca">
                        <div class="pull-left">
                            Contributed at:
                            <sapn th:text="${#dates.format(datainfo.data.createTime,'yyyy-MM-dd')}"> </sapn>
                        </div>
                    </div><br/>
                </div>
            </div>


            <div id="Authorship" class="detail_block" th:if="${datainfo.data.authorship!=null&&#lists.size(datainfo.data.authorship)!=0}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>Authorship</h4>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;" th:each="author:${datainfo.data.authorship}">
                        <span role="button" tabindex="0" class="ab" style="float: right;"><a
                                href
                                data-toggle="collapse" class="detail-toggle"
                                aria-expanded="true">[Collapse]</a></span>
                        <div class="NavHead" style="font-size: 16px;" th:text="${author.name}">NJGIS</div>
                        <div th:id="${author.name}" class="panel-collapse collapse in" aria-expanded="true" style="">
                            <div class="panel-body" style="padding-left: 20px; padding-top: 7px; padding-right: 0px;">
                                <dl>
                                    <!--<dt>Affiliation :</dt>-->
                                    <!--<dd th:text="${author.ins}"></dd>-->
                                    <dt>Email :</dt>
                                    <dd th:text="${author.email}">njgis@163.com</dd>
                                    <dt>Home Page :</dt>
                                    <dd ><a th:href="${author.homepage}">View</a></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="QR" class="detail_block">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>QR Code</h4>
                    </div>
                </div>
                <div class="block_content">

                    <div id="qrcode" class="el-col-offset-3" style="width:200px;height:200px;"></div>

                </div>
            </div>

        </div>


    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>




</body>

<script th:src="@{/static/js/common/vue.min.js}"></script>
<script th:src="@{/static/element-ui/index.js}"></script>
<script th:src="@{/static/js/common/jquery-3.3.1.min.js}"></script>


<script src="/static/js/common/vue-avatar.min.js"></script>

<script th:src="@{/static/js/common/axios.min.js}"></script>

<script src="/static/js/common/qrcode.min.js"></script>

<script src="/static/js/page/data_item_info.js" th:src="@{/static/js/page/data_item_info.js}"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/js/common/navbar.js"></script>

</html>