<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task | OpenGMS</title>

    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/element-ui/index.js"></script>

    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common/fileinput.min.css">
    <link rel="stylesheet" href="/static/css/common/fileinput-rtl.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/fabric/fabric.min.css"/>
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/common/wzhStyle.css">
    <link rel="stylesheet" href="/static/css/common/wzhFlexContainer.css">
    <!--<link rel="stylesheet" href="/static/css/other/computable-test.css">-->
    <!--<link rel="stylesheet" href="/static/css/other/jquery.gritter.css">-->
    <!--<link rel="stylesheet" href="/static/css/page/logical_model.css">-->
    <!--    <link rel="stylesheet" href="../static/css/components/file-manager.css">-->
    <link rel="stylesheet" href="/static/haha/css/style.css">
    <link rel="stylesheet" href="/static/css/page/user_space_out.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css"/>
    <style>

        .el-button--text {
            color: black;
        }

        input[type=file] {
            display: none;
        }

        .form-horizontal .form-group {
            margin-left: 0;
            margin-right: 0;
        }


        .el-collapse-item__header {
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
        }

        .el-input.is-disabled .el-input__inner {
            background-color: #ecf5ff;
            color: #8d8d8d;
            cursor: default;
        }

        .el-form-item {
            margin-bottom: 0;
        }

        .el-table .cell {
            word-break: break-word;
        }

        .flexColCenter {
            display: grid;
            flex-direction: unset;
        }

        .innerBorder {
            border: 0;
        }


    </style>
</head>
<body>
<div id="app" v-cloakz>
    <div th:replace="fragments/navbar :: unlog"></div>
    <div style="height: 700px">
    <div class="el-col el-col-5" role="applicationIntro" id="applicationSider" style="min-width: 220px">
        <div id="introContainer" class="slider">
            <div class="introHeader">
                <div class="image">
                    <i class="fa fa-cogs"></i>
                    <!--<img src="/static/haha/img/default.png">-->
                </div>
                <div>
                    <h3 class="model_title"> {{applicationInfo.name}}</h3>
                    <span>Contributed by <span style="cursor: pointer; font-size: 2rem;"
                                               @click="goPersonCenter(user.oid)">{{user.name}}</span></span>
                    <br>
                </div>
            </div>
            <div class="btn-list">
                <el-button plain type="primary" style="min-width: 120px">
                    Load data
                </el-button>

                <el-button plain type="primary" style="min-width: 121px">
                    <i class="fa fa-hand-spock-o"></i>&nbsp;Invoke
                </el-button>
            </div>
            <div class="introContent">
                <h4 class="desc-title">Introduction</h4>
                <p class="desc">{{applicationInfo.description}}</p>
                <br>
                <span class="model_date">Updated at <span
                        style="font-weight: 600">{{dateFormat(applicationInfo.lastModifyTime)}}</span></span>
            </div>
        </div>
    </div>
    <div class="el-col el-col-18" style="margin-left: 8px;border-left: black solid 1px;padding-left: 20px">
        <div class="content">
            <div class="_main">
                <el-row class="_title">
                    <el-row type="flex" align="middle">
                        <i class="fa fa-database"></i>
                        <p style="font-size: 18px;margin-bottom: 0;margin-left:10px">Configure Execution</p>

                        <div style="position:absolute;right:0">
                            <span style="margin-right:10px">Show style:</span>
                            <el-radio-group v-model="radioStyle">
                                <el-radio-button id="classic" label="Classic"></el-radio-button>
                                <el-radio-button id="semantics" label="Semantics"></el-radio-button>
                                <el-radio-button id="workFlow" label="Work flow"></el-radio-button>
                            </el-radio-group>
                        </div>
                    </el-row>
                </el-row>
                <el-row v-if="radioStyle=='Classic'">
                    <el-row type="flex" class="state-container" v-for="(state,index) in testStep"
                            :key="index"
                            justify="start" style="flex-wrap:wrap">
                        <div class="leftContainer">
                            <div class="modelState">
                                <p class="state-name"> {{state.name}}</p>
                                <p class="state-desc"> {{state.desc}}</p>
                            </div>
                        </div>
                        <div class="dataContainer">
                            <div class="_params-group">
                                <el-row class="_title">Input</el-row>
                                <div class="_items">
                                    <el-row>
                                        <el-col :span="11" class="_event-desc">
                                                        <span class="event-name">
                                                            <span style="color:red">*</span>
                                                            test
                                                        </span>
                                                        <span>
                                                            <el-tag type="info" :disable-transitions="true">
                                                                Data Type:
                                                                <a style="text-decoration: underline"
                                                                   target="_blank">shp</a>
                                                            </el-tag>
                                                        </span>
                                        </el-col>
                                        <div>
                                            <el-col :span="6" :offset="1">
                                                <!--:value="modelInEvent.tag"-->
                                                <el-input class="model-input">
                                                </el-input>
                                            </el-col>

                                            <el-col :span="6">
                                                <div class="_btn-group">
                                                    <el-button plain round type="success">
                                                        <i class="fa fa-folder-open"></i>
                                                    </el-button>

                                                    <el-button plain round type="warning">
                                                        <i class="fa fa-download"></i>
                                                    </el-button>

                                                    <el-button plain round type="primary">
                                                        <i class="fa fa-eye"></i>
                                                    </el-button>
                                                </div>
                                            </el-col>
                                        </div>
                                    </el-row>
                                    <el-row>
                                        <p title="Input stars_dbf, .dbf file stores the attribute information" class="event-desc">
                                            Input stars_dbf, .dbf file stores the attribute information
                                        </p>
                                    </el-row>
                                </div>
                            </div>

                            <div class="_params-group">
                                <el-row class="_title">Output</el-row>
                                <div class="_items">
                                <el-row>
                                    <el-col :span="11" class="_event-desc">
                                                        <span class="event-name">
                                                            <span style="color:red">*</span>
                                                            test
                                                        </span>
                                        <span>
                                                            <el-tag type="info" :disable-transitions="true">
                                                                Data Type:
                                                                <a style="text-decoration: underline"
                                                                   target="_blank">shp</a>
                                                            </el-tag>
                                                        </span>
                                    </el-col>
                                    <div>
                                        <el-col :span="6" :offset="1">
                                            <!--:value="modelInEvent.tag"-->
                                            <el-input class="model-input">
                                            </el-input>
                                        </el-col>

                                        <el-col :span="6">
                                            <div class="_btn-group">
                                                <el-button plain round type="success">
                                                    <i class="fa fa-folder-open"></i>
                                                </el-button>

                                                <el-button plain round type="warning">
                                                    <i class="fa fa-download"></i>
                                                </el-button>

                                                <el-button plain round type="primary">
                                                    <i class="fa fa-eye"></i>
                                                </el-button>
                                            </div>
                                        </el-col>
                                    </div>
                                </el-row>
                                <el-row>
                                    <p title="Input stars_dbf, .dbf file stores the attribute information" class="event-desc">
                                        Input stars_dbf, .dbf file stores the attribute information
                                    </p>
                                </el-row>
                            </div>
                        </div>
                        </div>
                    </el-row>
                </el-row>
            </div>
        </div>
    </div>
    <!--<el-dialog :visible.sync="loadDataVisible" title="Load Data" class="wzhDialog"-->
    <!--           style="height: 915px !important;">-->
    <!--    <el-tag class="flexRowSpaceBetween"-->
    <!--            style="margin-bottom:10px;height:auto;padding: 5px 0;justify-content: space-around;align-items: baseline">-->
    <!--        <h4 style="font-style: italic;">There is a dataset for you to test this model. </h4>-->
    <!--        <el-button type="primary" @click="loadTest">Load Test Dataset</el-button>-->
    <!--    </el-tag>-->

    <!--    <div slot="footer" class="dialog-footer">-->
    <!--        <el-button>cancel</el-button>-->
    <!--    </div>-->

    <!--</el-dialog>-->
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<template th:replace="modules/userDataSpaceModule :: userDataSpaceModule"></template>
</body>


<script>
    mxBasePath = "/static/js/mxGraph";
</script>

<script src="/static/js/mxGraph/js/mxClient.js"></script>
<script src="/static/js/mxGraph/js/ogmsDiagram.js"></script>

<!--<script src="/static/js/common/knockout-3.4.2.js"></script>-->
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/js/common/clipboard.min.js"></script>
<!--<script src="/static/js/common/jquery.gritter.min.js"></script>-->
<!--<script src="/static/js/common/lodash.js"></script>-->
<script src="/static/js/common/bootstrap.js"></script>
<script src="/static/js/common/bootstrap-treeview.js"></script>
<!--<script src="/static/js/common/bootstrap-treeview.js"></script>-->

<!--<script type="text/javascript">-->
<!--mxBasePath = '/static/MxGraph/'-->
<!--</script>-->
<!--<script type="text/javascript" src="/static/MxGraph/js/mxClient.js"></script>-->
<!--<script type="text/javascript" src="/static/js/common/computableEditorTest.js"></script>-->
<script src="/static/js/common/fileinput.js"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script type="text/javascript" src="/static/js/common/jquery.tag-editor.js"></script>
<script src="/static/js/common/bootstrap-tagsinput.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="/static/js/modules/userDataSpaceModule.js"></script>
<script src="/static/js/page/data_application_task.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/navbar.js"></script>


</html>
