<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Data Item Repository | OpenGMS</title>

    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/js/common/vue-avatar.min.js"></script>

    <script src="/static/element-ui/index.js"></script>
    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">

    <link rel="icon" type="image/x-icon" href="/static/img/logo/favicon.ico">

    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" href="/static/css/base/list.css">
    <link rel="stylesheet" href="/static/css/base/tree.css">
    <link rel="stylesheet" href="/static/css/other/bootstrap-select.css">
    <link rel="stylesheet" href="/static/css/page/model_items.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css" />

    <style>
        .content-body .list-item:not(:first-child) {
            margin-top: -1px;
        }
        .bootstrap-tagsinput{
            min-height:36px;
        }
        .bootstrap-tagsinput input{
            min-height:26px;
        }
    </style>

</head>
<body>
<div id="data_items">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="margin:40px 0px;height: auto;">
        <div class="el-col el-col-20 el-col-offset-2" :offset="2">
            <div class="el-row">
                <div class="data-top">
                <h2 class="main-title">Data Item Repository</h2>
                <h4 class="sub-title">The repository of data (one-stop hub with public shared data resources)
                </h4>
                    <button class="btn btn-success btn-lg" style="font-size: 15px;margin-left:10px;" @click="contribute()">+ Contribute</button>
                </div>
                <hr>
            </div>

            <div class="el-col el-col-6" style="margin-top:29px;">
                <el-card class="box-card" style="margin-right:20px">
                    <div slot="header" class="clearfix text-center">
                        <span style="font-size: 20px;color:#444">Data Categories</span>
                    </div>
                    <el-collapse v-model="activeNames" @change="handleChange">

                        <!--动态生成category,遍历数据库拿到数据，组装成category,显示在前端-->

                        <!--<el-collapse-item v-for="(item,index) in categoryTree" :title=item.key :name=index :key="index">-->
                            <!--<hr>-->
                            <!--<el-button v-for="it in item.value" type="text" @click="chooseCate(it,$event)">{{it.category}}</el-button>-->

                           <!---->

                        <!--</el-collapse-item>-->

                        <!--静态树-->
                        <el-collapse-item title="Earth System" name="1">
                            <el-button type="text" id="5cb83fd0ea3cba3224b6e24e"  @click="chooseCate('5cb83fd0ea3cba3224b6e24e')">Hydrosphere</el-button>
                            <el-button type="text" id="5cc04b987a419164e8212316"  @click="chooseCate('5cc04b987a419164e8212316')">Lithosphere</el-button>
                            <el-button type="text" id="5cc04bd27a419164e8212317" @click="chooseCate('5cc04bd27a419164e8212317')">Atmosphere</el-button>
                            <el-button type="text" id="5cc04c2c7a419164e821231a" @click="chooseCate('5cc04c2c7a419164e821231a')">Biosphere</el-button>
                            <el-button type="text" id="5cd01463710f141698c1697d" @click="chooseCate('5cd01463710f141698c1697d')">Anthroposphere</el-button>
                            <el-button type="text" id="5cc04be67a419164e8212319" @click="chooseCate('5cc04be67a419164e8212319')">Global</el-button>
                            <el-button type="text" id="5cc04e857a419164e821231b" @click="chooseCate('5cc04e857a419164e821231b')">...All</el-button>
                        </el-collapse-item>

                        <el-collapse-item title="Physical Geography" name="2">
                            <hr>
                            <el-button type="text" id="5cc054ac7a419164e8212322" @click="chooseCate('5cc054ac7a419164e8212322')">Hydrology</el-button>
                            <el-button type="text" id="5cc054bd7a419164e8212323" @click="chooseCate('5cc054bd7a419164e8212323')">Geomorphology</el-button>
                            <el-button type="text" id="5cc054c47a419164e8212324" @click="chooseCate('5cc054c47a419164e8212324')">Glaciology</el-button>
                            <el-button type="text" id="5cc054cb7a419164e8212325"  @click="chooseCate('5cc054cb7a419164e8212325')">Biogeography</el-button>
                            <el-button type="text" id="5cc054d07a419164e8212326"  @click="chooseCate('5cc054d07a419164e8212326')">Meteorology</el-button>
                            <el-button type="text" id="5cc054d67a419164e8212327"  @click="chooseCate('5cc054d67a419164e8212327')">Climatology</el-button>
                            <el-button type="text" id="5cc054dc7a419164e8212328"  @click="chooseCate('5cc054dc7a419164e8212328')">Pedology</el-button>
                            <el-button type="text" id="5cc054e37a419164e8212329"  @click="chooseCate('5cc054e37a419164e8212329')">Oceanography</el-button>
                            <el-button type="text" id="5cc054e97a419164e821232a"  @click="chooseCate('5cc054e97a419164e821232a')">Coastal</el-button>
                            <el-button type="text" id="5cc054f17a419164e821232b"  @click="chooseCate('5cc054f17a419164e821232b')">Landscape</el-button>
                            <el-button type="text" id="5cc054f77a419164e821232c"  @click="chooseCate('5cc054f77a419164e821232c')">Ecosystem</el-button>
                            <el-button type="text" id="5cc054fd7a419164e821232d"  @click="chooseCate('5cc054fd7a419164e821232d')">Paleogeography</el-button>
                            <el-button type="text" id="5cc055037a419164e821232e"  @click="chooseCate('5cc055037a419164e821232e')">QuaternaryScience</el-button>

                            <el-button type="text" id="5cc055117a419164e8212330"  @click="chooseCate('5cc055117a419164e8212330')">SyntheticDataset</el-button>
                            <el-button type="text" id="5cc0550b7a419164e821232f"  @click="chooseCate('5cc0550b7a419164e821232f')">EnvironmentalManagement</el-button>

                            <el-button type="text" id="5cc055177a419164e8212331"  @click="chooseCate('5cc055177a419164e8212331')">Others</el-button>
                            <el-button type="text" id="5cc055237a419164e8212332"  @click="chooseCate('5cc055237a419164e8212332')">...All</el-button>

                        </el-collapse-item>
                        <el-collapse-item title="Human Geography" name="3">
                            <hr>
                            <el-button type="text" id="5cc057dc7a419164e8212333"  @click="chooseCate('5cc057dc7a419164e8212333')">Agriculture</el-button>
                            <el-button type="text" id="5cd6c5b635f77e4c68e47bb5"  @click="chooseCate('5cd6c5b635f77e4c68e47bb5')">Population</el-button>
                            <el-button type="text" id="5cc057e97a419164e8212334"  @click="chooseCate('5cc057e97a419164e8212334')">Urban</el-button>
                            <el-button type="text" id="5cc2758ea05cc4a45c1e0934"  @click="chooseCate('5cc2758ea05cc4a45c1e0934')">Traffic</el-button>
                            <el-button type="text" id="5cc057fa7a419164e8212337"  @click="chooseCate('5cc057fa7a419164e8212337')">Tourism</el-button>
                            <el-button type="text" id="5cc057ff7a419164e8212338"  @click="chooseCate('5cc057ff7a419164e8212338')">Regional</el-button>
                            <el-button type="text" id="5cc058147a419164e8212339"  @click="chooseCate('5cc058147a419164e8212339')">Historical</el-button>

                            <el-button type="text" id="5cc0581b7a419164e821233a"  @click="chooseCate('5cc0581b7a419164e821233a')">Cultural</el-button>
                            <el-button type="text" id="5cc058217a419164e821233b"  @click="chooseCate('5cc058217a419164e821233b')">Social</el-button>
                            <el-button type="text" id="5cc0588f7a419164e821233c"  @click="chooseCate('5cc0588f7a419164e821233c')">Economic</el-button>
                            <el-button type="text" id="5cc058967a419164e821233d"  @click="chooseCate('5cc058967a419164e821233d')">Political</el-button>
                            <el-button type="text" id="5cc0589c7a419164e821233e"  @click="chooseCate('5cc0589c7a419164e821233e')">Health</el-button>
                            <el-button type="text" id="5cc058a27a419164e821233f"  @click="chooseCate('5cc058a27a419164e821233f')">Development</el-button>
                            <el-button type="text" id="5cc058a77a419164e8212340"  @click="chooseCate('5cc058a77a419164e8212340')">Behavioral</el-button>
                            <el-button type="text" id="5cc058ad7a419164e8212341"  @click="chooseCate('5cc058ad7a419164e8212341')">SyntheticDataset</el-button>
                            <el-button type="text" id="5cd6befe35f77e4c68e47bb3"  @click="chooseCate('5cd6befe35f77e4c68e47bb3')">Conservation</el-button>
                            <el-button type="text" id="5cc058b47a419164e8212342"  @click="chooseCate('5cc058b47a419164e8212342')">Others</el-button>
                            <el-button type="text" id="5cc058c37a419164e8212343"  @click="chooseCate('5cc058c37a419164e8212343')">...All</el-button>

                        </el-collapse-item>
                        <el-collapse-item title="Geographic Information" name="4">
                            <hr>
                            <el-button type="text" id="5cc05aa97a419164e8212344"  @click="chooseCate('5cc05aa97a419164e8212344')">Land Cover</el-button>
                            <el-button type="text" id="5cc05ab27a419164e8212345"  @click="chooseCate('5cc05ab27a419164e8212345')">Elevation</el-button>
                            <el-button type="text" id="5cc05ab97a419164e8212346"  @click="chooseCate('5cc05ab97a419164e8212346')">Terrain/Landform</el-button>

                            <el-button type="text" id="5cc05ac47a419164e8212347"  @click="chooseCate('5cc05ac47a419164e8212347')">Administrative Boundaries</el-button>
                            <el-button type="text" id="5cc05ace7a419164e8212348"  @click="chooseCate('5cc05ace7a419164e8212348')">Buildings Roads and POI</el-button>
                            <el-button type="text" id="5cc05ad97a419164e8212349"  @click="chooseCate('5cc05ad97a419164e8212349')">Land and Ocean Boundaries</el-button>

                            <el-button type="text" id="5cc05ae37a419164e821234a"  @click="chooseCate('5cc05ae37a419164e821234a')">SyntheticDataset</el-button>
                            <el-button type="text" id="5cd6c32435f77e4c68e47bb4"  @click="chooseCate('5cd6c32435f77e4c68e47bb4')">Remote Sensing</el-button>
                            <el-button type="text" id="5cc05aec7a419164e821234b"  @click="chooseCate('5cc05aec7a419164e821234b')">Others</el-button>
                            <el-button type="text" id="5cc05b067a419164e821234c"  @click="chooseCate('5cc05b067a419164e821234c')">...All</el-button>
                        </el-collapse-item>

                        <el-collapse-item title="Natural Resources" name="5">
                            <hr>
                            <el-button type="text" id="5cc05c167a419164e821234d"  @click="chooseCate('5cc05c167a419164e821234d')">Land Resources</el-button>
                            <el-button type="text" id="5cc05c217a419164e821234e"  @click="chooseCate('5cc05c217a419164e821234e')">Agricultural Resources</el-button>
                            <el-button type="text" id="5cc05c2f7a419164e821234f"  @click="chooseCate('5cc05c2f7a419164e821234f')">Climatic Resources</el-button>
                            <el-button type="text" id="5cd6c74435f77e4c68e47bb6"  @click="chooseCate('5cd6c74435f77e4c68e47bb6')">Biological Resources</el-button>
                            <el-button type="text" id="5cc05c3b7a419164e8212350"  @click="chooseCate('5cc05c3b7a419164e8212350')">Water Resources</el-button>
                            <el-button type="text" id="5cd6d12a35f77e4c68e47bb7"  @click="chooseCate('5cd6d12a35f77e4c68e47bb7')">Energy Resources</el-button>
                            <el-button type="text" id="5cc05c467a419164e8212351"  @click="chooseCate('5cc05c467a419164e8212351')">Mineral/Oil and Gas</el-button>
                            <el-button type="text" id="5cc05c517a419164e8212352"  @click="chooseCate('5cc05c517a419164e8212352')">Disaster</el-button>

                            <el-button type="text" id="5cc05c5c7a419164e8212353"  @click="chooseCate('5cc05c5c7a419164e8212353')">Others</el-button>
                            <el-button type="text" id="5cc05c637a419164e8212354"  @click="chooseCate('5cc05c637a419164e8212354')">...All</el-button>
                        </el-collapse-item>
                        <el-collapse-item title="Region and Area" name="6">
                            <hr>
                            <el-button type="text" id="5cc05cdc7a419164e8212355"  @click="chooseCate('5cc05cdc7a419164e8212355')">Asia</el-button>
                            <el-button type="text" id="5cc05ce27a419164e8212356"  @click="chooseCate('5cc05ce27a419164e8212356')">Europe</el-button>
                            <el-button type="text" id="5cc05ce77a419164e8212357"  @click="chooseCate('5cc05ce77a419164e8212357')">NorthAmerica</el-button>
                            <el-button type="text" id="5cc05cef7a419164e8212358"  @click="chooseCate('5cc05cef7a419164e8212358')">SouthAmerica</el-button>
                            <el-button type="text" id="5cc05cf57a419164e8212359"  @click="chooseCate('5cc05cf57a419164e8212359')">Australia</el-button>
                            <el-button type="text" id="5cc05cfb7a419164e821235a"  @click="chooseCate('5cc05cfb7a419164e821235a')">Africa</el-button>
                            <el-button type="text" id="5cc05d037a419164e821235b"  @click="chooseCate('5cc05d037a419164e821235b')">Antarctic</el-button>
                            <el-button type="text" id="5cc05d097a419164e821235c"  @click="chooseCate('5cc05d097a419164e821235c')">Arctic</el-button>
                            <el-button type="text" id="5cc05d0e7a419164e821235d"  @click="chooseCate('5cc05d0e7a419164e821235d')">PacificOcean</el-button>
                            <el-button type="text" id="5cc05d137a419164e821235e"  @click="chooseCate('5cc05d137a419164e821235e')">Atlantic</el-button>
                            <el-button type="text" id="5cc05d187a419164e821235f"  @click="chooseCate('5cc05d187a419164e821235f')">IndianOcean</el-button>
                            <el-button type="text" id="5cc05d1f7a419164e8212360"  @click="chooseCate('5cc05d1f7a419164e8212360')">ArcticOcean</el-button>
                            <el-button type="text" id="5cc05d277a419164e8212361"  @click="chooseCate('5cc05d277a419164e8212361')">...All</el-button>
                        </el-collapse-item>

                        <!--<el-collapse-item title="Data Resouces Hubs" name="7">-->
                            <!--<hr>-->
                            <!--<el-button class="hubs" type="text" @click="hubs()">Hubs</el-button>-->

                        <!--</el-collapse-item>-->



                    </el-collapse>


                </el-card>


            </div>

            <div class="el-col el-col-18"   >
                <div class="searcherPanel">


                    <div class="input-group">
                        <input type="text" placeholder="Search data here..." data-role="tagsinput" class="form-control"  id="searchBox" @keyup.enter.native="search()"   >

                        <span class="input-group-btn">
						<button class="btn btn-primary" @click="search()" type="button">
                            <i class="glyphicon glyphicon-search"></i>&nbsp;Search
						</button>
					</span>
                    </div>

                </div>



                <div class="progressPanel">
                    <span class="barControl">
                        <div class="barContro_space">
                            <span class="progress_line" :class="{active:progressBar}"></span>
                        </div>
                    </span>
                </div>
                <div  class="alert alert-success" role="alert" style="margin-bottom: 2px;">

                    <span > <strong>{{ca!=''&&searchText.length==0?( ca=="We collect data from public hubs.."?"We collect data from public hubs..":"Current Category: "+ca):''}} </strong> <strong>{{searchText.length!=0&&ca==''?"Current Keywords: "+searchText:''}} </strong>  <strong style="float: right">{{datacount!=0 ?(datacount===-1?'loading...':datacount+' items'):'no data'}}</strong></span><br>
                    <span>  </span>
                    <span></span>

                </div>
                <!--v-loading-->

                <div class="maincontnt"  v-loading="loading">
                        <div class="modelPanel" >

                            <div  class="content-body">
                                <div class="list-item" v-for="(item,index) in list" :key="index">
                                    <div class="detail_title">

                                        <!--<a :href="goto(item.id)"   ><h3 style="display: inline-block">{{item.name}}&nbsp&nbsp</h3></a>-->
                                        <a :class="item.viewCount>100?'hot':''" :href="goto(item.id)" target="_blank" @click="view(item.id)" >{{item.name}}&nbsp&nbsp</a>
        <!---->

                                    </div>
                                    <div class="detail_overview">
                                        <a class="img" :href="'/dataItem/'+ item.id" target="_blank">
                                            <avatar  :username="item.name" :size="90"
                                                    :rounded="false"></avatar>


                                        </a>

                                        <div class="info">
                                            <p style="height:40px;-webkit-line-clamp:2;">{{item.description}}</p>
                                            <div class="tags" v-for="(tagitem,ind) in item.keywords" :key="ind" style="float: left">
                                                <span class="badge badge-info" >{{tagitem}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="detail_bottom">
                                        <div style="display:inline-block;float: left;">
                                            <a :href="'/user/'+users[index].oid">
                                            <img :src="users[index].image==''?'/static/img/icon/default.png':users[index].image" class="round_icon"
                                                 style="margin-top:-5px;width:30px;height: 30px;display: inline-block;">
                                            </a>
                                            <a :href="'/user/'+users[index].oid" style="display: inline-block;margin-left: 5px;"><h4>{{users[index].name}}</h4></a>


                                            <h4 style="display: inline-block;margin-left: 10px">contributed at {{formatDate(item.createTime)}}</h4>
                                        </div>
                                        <div class="detail_option">


                                            <a href="javascript:void(0)" class="fa fa-eye" aria-hidden="true"></a>&nbsp&nbsp{{item.viewCount}}
                                            <!--<a href="javascript:void(0)" class="fa fa-thumbs-o-up" aria-hidden="true"></a>{{item.description}}-->
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <el-pagination style="text-align: center;margin-top:20px"
                                       @current-change="handleCurrentChange"

                                       :page-size="findDto.pageSize"
                                       :current-page="findDto.page"
                                       layout="total,prev, pager, next, jumper"
                                       :total="datacount">
                        </el-pagination>
                </div>

                <div class="manyhub" >
                    <div>
                        <el-card class="hub_items" v-for="(item,index) in list" :key="index" style="width:20%;height: 140px;float: left;margin-top: 10px">
                            <!--<img src="/static/img/hubs.jpg" style="width:70%;margin-left:15%">-->
                            <div class="el-row" >
                                <a   :href="item.url" target="_blank"  >
                                      <avatar  :username="item.title"  :size="100"
                                               class="center-block" ></avatar>


                                </a>
                            </div>
                            <center><a :href=item.url target="_blank" :title=item.url><h5>{{item.title}}</h5></a></center>

                        </el-card>
                    </div>
                    <br>
                    <div class="el-row" ><br>
                        <center><el-button  v-loading="loading" id="addmore" @click="addmorehubs">View More</el-button></center>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <el-card th:object="${dataitems}">
        <p th:text="${dataitems}"></p>
    </el-card>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>

<script src="/static/js/common/jquery-3.3.1.js"></script>



<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/common/bootstrap.js"></script>
<script src="/static/js/common/bootstrap-select.js"></script>

<!--<script src="/static/js/element-ui-index.js" th:src="@{/static/js/element-ui-index.js}"></script>-->

<script src="/static/js/common/bootstrap-tagsinput.js"></script>



<script src="/static/js/page/data_items.js"></script>
<script  async src="/static/js/common/loadUser.js" ></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/navbar.js"></script>
</html>