<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task | OpenGMS</title>

    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/element-ui/index.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/img/logo/favicon.ico">
    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <!--<link rel="stylesheet" href="/static/css/other/computable-test.css">-->
    <!--<link rel="stylesheet" href="/static/css/other/jquery.gritter.css">-->
    <!--<link rel="stylesheet" href="/static/css/page/logical_model.css">-->
    <link rel="stylesheet" href="/static/haha/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css" />
    <style>

        input[type=file] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>
    <div class="taskMain">
        <el-row type="flex" justify="space-around">
            <el-col :span="5" role="modelIntro" style="min-width: 180px" id="modelSider">
                <div id="introContainer" class="slider scrollbar" :class="isFixed== true?'fixed':''">
                    <div class="introHeader">
                        <div class="image">
                            <i class="fa fa-database"></i>
                            <!--<img src="/static/haha/img/default.png">-->
                        </div>
                        <div>
                            <h3 class="model_title"> {{info.modelInfo.name}}</h3>
                            <span  >Contributed by <span  style="cursor: pointer; font-size: 2rem;"
                                                    @click="goPersonCenter(info.userInfo.compute_model_user_oid)">{{info.userInfo.compute_model_user_name}}</span></span>
                            <br>
                        </div>
                    </div>
                    <div class="btn-list">
                        <el-button plain type="primary" @click="loadTest('1')" :disabled="!info.modelInfo.hasTest"
                                   style="min-width: 120px">
                            Load test data
                        </el-button>


                        <el-button plain type="primary" @click="invoke()" style="min-width: 121px">
                            <i class="fa fa-hand-spock-o"></i>&nbsp;Invoke
                        </el-button>

                    </div>
                    <div class="introContent">
                        <h4 class="desc-title">Introduction</h4>
                        <p class="desc">{{info.modelInfo.des}}</p>
                        <br>
                        <span class="model_date">Updated at <span style="font-weight: 600">{{dateFormat(info.modelInfo.date)}}</span></span>
                    </div>
                </div>
            </el-col>
            <div class="colBorder"></div>
            <el-col :span="18">
                <div class="content">
                    <div class="_main">
                        <el-row class="_title" >
                            <el-row type="flex" align="middle">
                                <i class="fa fa-cogs"></i>
                                <p style="font-size: 18px;margin-bottom: 0">&nbsp&nbspModel Config</p>
                            </el-row>

                        </el-row>

                        <el-row >
                            <el-row type="flex" class="state-container" v-for="(state,index) in info.modelInfo.states" :key="index"
                                    justify="start" style="flex-wrap:wrap">
                                <div class="leftContainer">
                                    <div class="modelState">
                                        <p class="state-name"> {{state.name}}</p>
                                        <p class="state-desc"> {{state.desc}}</p>

                                    </div>
                                </div>
                                <div class="dataContainer">
                                    <div class="_params-group">
                                        <el-row v-if="inEventList(state).length!==0" class="_title">Input</el-row>
                                        <div class="_items">
                                            <el-row v-for="(modelInEvent,inEventIndex) in inEventList(state)"
                                                    :key="inEventIndex" class="_item">
                                                <el-row>


                                                    <el-col :span="9" class="_event-desc">

                                                    <span class="event-name" :title="modelInEvent.eventName">
                                                        <span
                                                                v-show="!modelInEvent.optional"
                                                                style="color:red">*</span>
                                                        {{modelInEvent.eventName}}
                                                    </span>

                                                    </el-col>
                                                    <el-col :span="6" :offset="1">
                                                        <!--:value="modelInEvent.tag"-->
                                                        <el-input class="model-input"
                                                                  :value="modelInEvent.tag"
                                                                  :id="'datainput'+inEventIndex"
                                                                  readonly>
                                                        </el-input>
                                                    </el-col>

                                                    <el-col :span="8">
                                                        <div class="_btn-group">

                                                            <el-button plain round type="primary"
                                                                       @click="selectFromMyData(inEventIndex,modelInEvent)"

                                                            circle>
                                                                <i class="fa fa-th-large"></i>
                                                            </el-button>&nbsp;

                                                            <el-dialog
                                                                    title="Select From My Data"
                                                                    :visible.sync="selectDataDialog"
                                                                    width="30%"
                                                                    height="50%"

                                                                    style="overflow-y: scroll"
                                                            >

                                                                <!--<el-input   placeholder="search user data.."  @keyup.native=""></el-input>-->

                                                                <el-card   class="is-never-shadow" id="selectUserData" style="height: 300px;overflow-y: scroll" v-loading="loading" @scroll.native="loadMore($event)"  >

                                                                    <el-card class="is-hover-shadow"    v-for="item in userData"  :id="item.id"  style="margin-top: 10px;margin-bottom: 10px;" @click.native="selectUserData(item,$event)">

                                                                            <strong>Name</strong><span>{{item.fileName}}</span>&nbsp;&nbsp;&nbsp;<strong>Suffix:</strong><span>{{item.suffix}}</span>


                                                                    </el-card>


                                                                </el-card>



                                                                <span slot="footer" class="dialog-footer">
                                                                <el-button @click="confirmSelect()">Confirm</el-button>
                                                                <el-button @click="selectDataDialog = false">Cancel</el-button>
                                                                </span>
                                                            </el-dialog>


                                                            <el-button plain round type="primary"
                                                                       @click="upload(modelInEvent)">
                                                                <i class="fa fa-cloud-upload"></i>
                                                            </el-button>
                                                            <el-button plain round type="success"
                                                                       @click="check(modelInEvent)">
                                                                <i class="fa fa-folder-open"></i>
                                                            </el-button>
                                                            <el-button plain round type="warning"
                                                                       @click="download(modelInEvent)">
                                                                <i class="fa fa-download"></i>
                                                            </el-button>

                                                        </div>
                                                    </el-col>
                                                </el-row>
                                                <el-row>
                                                    <p class="event-desc" :title="modelInEvent.eventDesc">
                                                        {{modelInEvent.eventDesc}}</p>
                                                </el-row>
                                            </el-row>
                                        </div>
                                    </div>

                                    <div class="_params-group">
                                        <el-row v-if="outEventList(state).length!==0" class="_title">Output</el-row>
                                        <div class="_items">
                                            <el-row v-for="(modelOutEvent,outEventIndex) in outEventList(state)"
                                                    :key="outEventIndex" class="_item">
                                                <el-row>
                                                    <el-col :span="9" class="_event-desc">
                                                      <span class="event-name" title="modelOutEvent.eventName">
                                                        {{modelOutEvent.eventName}}
                                                    </span>
                                                    </el-col>
                                                    <el-col :span="6" :offset="1">
                                                        <el-input class="model-input" :value="modelOutEvent.tag"
                                                                  readonly>
                                                        </el-input>
                                                    </el-col>
                                                    <el-col :span="5" v-show="modelOutEvent.url!=null">
                                                        <div class="_btn-group">
                                                            <el-button plain round type="warning"
                                                                       @click="download(modelOutEvent)">
                                                                <i class="fa fa-download"></i>
                                                            </el-button>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                                <el-row>
                                                    <p class="event-desc" :title="modelOutEvent.eventDesc">
                                                        {{modelOutEvent.eventDesc}}</p>
                                                </el-row>

                                            </el-row>
                                        </div>
                                    </div>
                                </div>

                            </el-row>

                        </el-row>


                        <!-- <el-tabs v-model="activeTab" tab-position="left">
                            <el-tab-pane v-for="(state,index) in modelInfo.states" :key="index" :label="state.name"
                                :name="state.name">
                                <div class="_state-desc">
                                    {{state.des}}
                                </div>
                                <div class="_params-group">
                                    <el-row v-if="inEventList(state).length!==0" class="_title">Input</el-row>
                                    <div class="_items">
                                        <el-row v-for="(modelInEvent,inEventIndex) in inEventList(state)" :key="inEventIndex"
                                            class="_item">
                                            <el-col :span="16" class="_event-desc"><span v-show="!modelInEvent.isOptional" style="color:red">*</span> {{modelInEvent.name}}

                                                    <br>
                                                    {{modelInEvent.des}}</el-col>
                                            <el-col :span="3" :offset="1">
                                                <el-input :value="modelInEvent.tag" readonly>
                                                </el-input>
                                            </el-col>
                                            <el-col :span="4">
                                                <div class="_btn-group">
                                                    <el-button plain round type="primary" @click="check(modelInEvent)">
                                                        <i class="fa fa-cloud-upload"></i>
                                                    </el-button>
                                                    <el-button plain round type="warning" @click="upload(modelInEvent)">
                                                        <i class="fa fa-download"></i>
                                                    </el-button>
                                                    <el-button plain round type="success" @click="download(modelInEvent)"
                                                        v-if="modelInEvent.singleVSservice">
                                                        <i class="fa fa-area-chart"></i>
                                                    </el-button>
                                                </div>
                                            </el-col>



                                        </el-row>
                                    </div>
                                </div>

                                <div class="_params-group">
                                    <el-row v-if="outEventList(state).length!==0" class="_title">Output</el-row>
                                    <div class="_items">
                                        <el-row v-for="(modelOutEvent,outEventIndex) in outEventList(state)"
                                            :key="outEventIndex" class="_item">
                                            <el-col :span="16" class="_event-desc">{{modelOutEvent.des}}</el-col>
                                        </el-row>
                                    </div>
                                </div>
                            </el-tab-pane>

                        </el-tabs> -->

                        <!--item-->

                        <el-col :span="3" :offset="21" class="_save-btn">
                            <el-button plain type="primary" @click="invoke()">
                                <i class="fa fa-hand-spock-o"></i>&nbsp;Invoke
                            </el-button>
                        </el-col>

                        <el-dialog title="Choose Data" :visible.sync="showUpload" width="30%">
                            <el-upload ref="upload" drag action="/dispatchRequest/upload" :data="uploadData()"
                                       :before-remove="beforeRemove"
                                       :on-success="onSuccess">
                                <el-button slot="trigger" size="small" type="primary">Choose File</el-button>
                            </el-upload>
                        </el-dialog>

                        <el-dialog title="Personal Center Data" :visible.sync="showDataChose" width="70%">
                            <el-table :data="dataFromDataContainer" stripe v-loading="tableLoading">
                                <el-table-column property="createDate" label="Date" width="200">
                                    <template slot-scope="scope">
                                        {{dateFormat(scope.row.createDate)}}
                                    </template>
                                </el-table-column>
                                <el-table-column property="type" label="Type" width="150"></el-table-column>

                                <el-table-column
                                        label="Name"

                                >
                                    <template slot-scope="scope">
                                        {{scope.row.fileName+"."+scope.row.suffix}}
                                    </template>
                                </el-table-column>

                                <el-table-column
                                        prop="fromWhere"
                                        label="Source"
                                        width="200"
                                        :filters="[{ text: 'PORTAL', value: 'PORTAL' }, { text: 'MODELCONTAINER', value: 'MODELCONTAINER' },{ text: 'ONLINESAGA', value: 'ONLINESAGA ' }]"
                                        :filter-method="filterTag"
                                        filter-placement="bottom-end">
                                    <template slot-scope="scope">
                                        <el-tag
                                                :type="scope.row.fromWhere === 'PORTAL' ? 'primary' : 'success'"
                                                disable-transitions>{{scope.row.fromWhere}}
                                        </el-tag>
                                    </template>
                                </el-table-column>

                                <el-table-column
                                        label="Operation"
                                        width="200"
                                >
                                    <template slot-scope="scope">
                                        <el-button @click="handleDataChooseClick(scope.row)" type="primary"
                                                   size="small">Select
                                        </el-button>
                                        <el-button @click="handleDataDownloadClick(scope.row)" type="text" size="small">
                                            Download
                                        </el-button>

                                    </template>
                                </el-table-column>
                            </el-table>

                            <el-pagination
                                    class="my-pagination"
                                    style="margin-top:10px"
                                    small
                                    layout="prev, pager, next"
                                    @current-change="handleCurrentChange"
                                    :total="total">
                            </el-pagination>
                        </el-dialog>
                    </div>
                </div>
            </el-col>
        </el-row>

    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>

<!--<script src="/static/js/common/knockout-3.4.2.js"></script>-->
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/loadUser.js"></script>

<!--<script src="/static/js/common/jquery.gritter.min.js"></script>-->
<!--<script src="/static/js/common/lodash.js"></script>-->
<script src="/static/js/common/bootstrap.js"></script>
<!--<script src="/static/js/common/bootstrap-treeview.js"></script>-->

<!--<script type="text/javascript">-->
<!--mxBasePath = '/static/MxGraph/'-->
<!--</script>-->
<!--<script type="text/javascript" src="/static/MxGraph/js/mxClient.js"></script>-->
<!--<script type="text/javascript" src="/static/js/common/computableEditorTest.js"></script>-->
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="/static/js/page/task.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/navbar.js"></script>

</html>