<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Integrated Modeling</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/fabric/fabric.min.css"/>
  <!--<link rel="stylesheet" href="/static/css/common/mdb/mdb.lite.min.css">-->
  <link rel="stylesheet" href="/static/css/common/fluent/fluent.css">
  <link rel="stylesheet" href="/static/css/base/universal.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css"/>
  <link rel="stylesheet" href="/static/css/base/style.css">
  <link rel="stylesheet" href="/static/css/common/wzhStyle.css">
  <link rel="stylesheet" href="/static/css/common/wzhFlexContainer.css">
  <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/page/computableModelList.css">
  <link rel="stylesheet" href="/static/css/base/tree.css">
  <link rel="stylesheet" href="/static/css/other/bootstrap-select.css">
  <link rel="stylesheet" href="/static/css/page/model_items.css">
  <link rel="stylesheet" href="/static/css/page/user_space_out.css">

  <script src="/static/js/common/vue.min.js"></script>
  <script src="/static/js/common/vue-avatar.min.js"></script>
  <script src="/static/js/common/axios.min.js"></script>
  <script th:inline="javascript">
    var computableModelList = [[${computableModelList}]];
    var graphXml = [[${graphXml}]];
    var modelParams = [[${modelParams}]];
    var models = [[${models}]];
    // var allComputableModel =  [[${allComputableModel}]];
  </script>
  <style>
    body {
      background: url(/static/img/carousels/notebook.jpg);
      margin: 0px;
      background-position-x: center  ;
      background-position-y: top;
    }

    .spinner {
      background: url(/static/img/input-spinner.gif) right no-repeat !important;
    }
    #tree1{
      max-height: 516px;
      overflow: auto;
    }
    .el-dialog__header {
      text-align: center;
    }
    .el-dialog__title {
       line-height: 24px;
       font-size: 22px;
     }
  </style>
</head>
<body>
    <div id="app">

  <div th:replace="fragments/navbar :: unlog"></div>

  <div>
    <div>
      <h2 style="text-align: center; color: #4a4a4a;padding: 10px;font-weight: 700;font-family: sans-serif">
        Integrated Modeling
      </h2>
      <div class="flexCenter flexWrap">
        <el-button style="margin:5px;font-weight: 700;color: #009900;" @click="chooseModelVisible=true">Select computable model</el-button>
        <el-button style="margin: 5px;font-weight: 700;color: #009900;" @click="configuration">
          Input Data Configuration
        </el-button>
        <el-button style="margin: 5px;font-weight: 700;color: #009900;" @click="configuration">
          Iteration
        </el-button>
        <el-button :disabled="executeDisabled" type="success" style="margin:5px;font-weight: 700;"
                   @click="executeVisible=true">Execution
        </el-button>
      </div>

    </div>

    <div id="MxGraph">
      <iframe id="ModelEditor" src="/common/integratedModelEditor"
              style="width:86%;height:760px;border:0px;position:relative;margin-left: 7%;margin-bottom: 3%"></iframe>
    </div>

    <el-dialog title="Input Data Configuration" :visible.sync="configVisible" width="70%">
      <el-tabs v-model="activeName">
        <el-tab-pane v-for="(model,index) in models" :key="index" :label="model.name" :name="model.name">

          <el-table :data="model.inputEvents" style="width: 100%"
                    :key="Math.random()"
                    row-key="dataId"
                    border
                    default-expand-all>

            <el-table-column
                    label="Event Name"
                    width="250">
              <template slot-scope="scope">
                                <span v-if="scope.row.externalId==undefined" :title="scope.row.event">
                                    <span v-if="!scope.row.optional&&!scope.row.child"
                                          style="color:red">*</span>
                                        {{scope.row.event}}
                                </span>

                <span v-if="scope.row.externalId!=undefined" :title="scope.row.event">
                                    <span v-if="!scope.row.optional"
                                          style="color:red">*</span>
                                    <a style="text-decoration: underline;"
                                       :href="'/repository/template/'+scope.row.externalId.toLowerCase()"
                                       target="_blank">{{scope.row.event}}</a>
                                </span>
              </template>
            </el-table-column>
            <el-table-column
                    prop="description"
                    label="Description">
            </el-table-column>
            <el-table-column
                    label="Value"
                    width="200">
              <template slot-scope="scope">

                <el-input class="model-input"
                          :key="scope.row.dataId"
                          v-if="scope.row.children==undefined&&scope.row.child!=true"
                          :value="scope.row.iName==undefined ? (scope.row.fileName==undefined ? scope.row.value :(scope.row.fileName+'.'+scope.row.suffix)) : scope.row.iName"
                          :id="'datainput'+scope.row.dataId"
                          disabled="false">
                </el-input>

                <el-input class="model-input"
                          v-if="scope.row.children==undefined&&scope.row.child==true"
                          v-model="scope.row.val"
                          :id="'datainput'+scope.row.dataId">
                </el-input>
              </template>
            </el-table-column>
            <el-table-column
                    label="Operation"
                    width="120">
              <template slot-scope="scope">
                <div class="_btn-group" v-if="scope.row.children==undefined">

                  <el-button
                          v-if="scope.row.value != undefined && (scope.row.value == '' || scope.row.value.match(/http/))"
                          plain round type="primary" size="small" @click="openUserDataSpace(scope.row)">
                    <i class="fa fa-folder-open"></i>
                  </el-button>

                  <el-button plain round type="warning" size="small" id="'download'+ scope.row.dataId"
                             v-if="scope.row.fileName!=''&&scope.row.fileName!=null"
                             @click="download(scope.row)" style="margin-left: 0px;">
                    <i class="fa fa-download"></i>
                  </el-button>
                </div>
              </template>
            </el-table-column>
          </el-table>

          <el-table :data="model.outputEvents" style="width: 100%"
                    :key="Math.random()"
                    row-key="dataId"
                    border
                    default-expand-all>

            <el-table-column
                    label="Event Name"
                    width="250">
              <template slot-scope="scope">
                <span v-if="scope.row.externalId==undefined" :title="scope.row.event">
                    <span v-if="!scope.row.optional&&!scope.row.child"
                          style="color:red">*</span>
                        {{scope.row.event}}
                </span>

                <span v-if="scope.row.externalId!=undefined" :title="scope.row.event">
                  <span v-if="!scope.row.optional"
                        style="color:red">*</span>
                  <a style="text-decoration: underline;"
                     :href="'/repository/template/'+scope.row.externalId.toLowerCase()"
                     target="_blank">{{scope.row.event}}</a>
                </span>
              </template>
            </el-table-column>
            <el-table-column
                    prop="description"
                    label="Description">
            </el-table-column>
            <el-table-column
                    label="Value"
                    width="200">
              <template slot-scope="scope">

                <el-input class="model-input"
                          :key="scope.row.dataId"
                          :value="scope.row.value!=''?(scope.row.state+'_'+scope.row.event):''"
                          :disabled="true">
                </el-input>

              </template>
            </el-table-column>
            <el-table-column
                    label="Operation"
                    width="120">
              <template slot-scope="scope">
                <div class="_btn-group" v-if="scope.row.children==undefined">

                  <el-button plain round type="warning" size="small" id="'download'+ scope.row.dataId"
                             v-if="scope.row.value!=''"
                             @click="download(scope.row)" style="margin-left: 0px;">
                    <i class="fa fa-download"></i>
                  </el-button>
                </div>
              </template>
            </el-table-column>
          </el-table>

        </el-tab-pane>
      </el-tabs>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="checkData">OK</el-button>
      </div>
    </el-dialog>

    <el-dialog title="Integrated Models Execution Configuration" :visible.sync="executeVisible" width="30%">
      <div style="font-size: 18px">
        Task Name :
        <el-input v-model="taskName" placeholder="Please name this task!" style="width: 80%;"></el-input>
      </div>
      <div style="font-size: 18px">
        Task Type :
        <el-radio-group v-model="taskType">
          <el-radio label="default">Default</el-radio>
          <el-radio label="step">Step</el-radio>
          <el-radio label="iter">iteration</el-radio>
        </el-radio-group>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="executeNew">Execute & Save</el-button>
      </div>
    </el-dialog>

    <input id="uploadInputData" type="file" style="display:none"/>

  </div>
  <el-dialog title="Select Data From My Data Space" append-to-body :visible.sync="userDataSpaceVisible" width="68%" class="noScroll">
    <user-data
            @com-selectfile="selectDataspaceFile"
            @com-removefile="removeDataspaceFile"
            single-choice
            ref="userDataSpace" style="height: 505px;"></user-data>
    <span slot="footer" class="dialog-footer">
       <el-button @click="userDataSpaceVisible = false">Cancel</el-button>
      <el-button type="primary" @click="selectFromDataSpace">Confirm</el-button>
    </span>
  </el-dialog>

  <el-dialog title="Choose Computable Models" :visible.sync="chooseModelVisible" width="70%">
    <computable-models :check-model-list="checkModelList" ></computable-models>
    <span slot="footer" class="dialog-footer">
      <el-button @click="chooseModelVisible = false">Cancel</el-button>
      <el-button type="primary" @click="chooseModel">OK</el-button>
    </span>
  </el-dialog>

  <div th:replace="fragments/footer :: footer"></div>
</div>
<template th:replace="modules/userDataSpaceModule :: userDataSpaceModule"></template>
<template th:replace="modules/computableModelList :: computableModel"></template>
<script src="/static/js/module/computableModelList.js"></script>

</body>


<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>

<script src="/static/js/page/integratedModeling.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/navbar.js"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/element-ui/index.js"></script>

<script src="/static/js/module/userDataSpaceModule.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<!--<script src="/static/js/common/navbarJquery.js/"></script>-->
<script>


</script>
</html>
