<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Integrated Modeling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/fabric/fabric.min.css"/>
    <link  rel="stylesheet" href="/static/css/common/mdb/mdb.lite.min.css">
    <link  rel="stylesheet" href="/static/css/common/fluent/fluent.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css"/>
    <link rel="stylesheet" href="/static/css/base/style.css">
    <link rel="stylesheet" href="/static/css/base/universal.css">

    <link rel="stylesheet" href="/static/css/page/user_space.css">
    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/js/common/axios.min.js"></script>
    <script th:inline="javascript">
        var computableModelList =  [[${computableModelList}]];
        var graphXml = [[${graphXml}]];
        var modelParams = [[${modelParams}]];
        var models = [[${models}]];
        // var allComputableModel =  [[${allComputableModel}]];
    </script>
    <style>
        body{
            background: url(/static/img/carousels/notebook.jpg);
            margin: 0px;
        }
        .spinner{
            background: url(/static/img/input-spinner.gif) right no-repeat !important;
        }
    </style>
</head>
<body>
    <div id="app">

        <div th:replace="fragments/navbar :: unlog"></div>

        <div>
            <div>
                <h1 style="float: left;color: #4a4a4a;margin-left: 40%;padding: 10px;font-weight: 700;font-family: sans-serif">
                    Integrated Modeling
                </h1>
                <el-button :disabled="executeDisabled" style="float: right;margin: 2% 7% 5px;font-weight: 700;color: #009900;" @click="executeVisible=true">Execution</el-button>
                <el-button style="float: right;margin: 2% -6% 5px;font-weight: 700;color: #009900;" @click="configuration">Input Data Configuration</el-button>
                <el-button style="float: right;margin: 2% -6% 5px;font-weight: 700;color: #009900;" @click="userDataSpaceVisible=true">aaa</el-button>
            </div>

            <div id="MxGraph">
                <iframe id="ModelEditor" src="/common/integratedModelEditor"  style="width:86%;height:760px;border:0px;position:relative;margin-left: 7%;margin-bottom: 3%"></iframe>
            </div>

            <el-dialog title="Input Data Configuration" :visible.sync="configVisible" width="70%">
                <el-tabs v-model="activeName">
                    <el-tab-pane v-for="(model,index) in models" :key="index" :label="model.name" :name="model.name">

                        <el-table :data="model.inputEvents"  style="width: 100%"
                                  :key="Math.random()"
                                  row-key="dataId"
                                  border
                                  default-expand-all>

                            <el-table-column
                                    label="Event Name"
                                    width="250">
                                <template slot-scope="scope">
                                <span v-if="scope.row.externalId==undefined" :title="scope.row.event">
                                    <span v-if="!scope.row.optional&&!scope.row.child"
                                          style="color:red">*</span>
                                        {{scope.row.event}}
                                </span>

                                    <span v-if="scope.row.externalId!=undefined" :title="scope.row.event">
                                    <span v-if="!scope.row.optional"
                                          style="color:red">*</span>
                                    <a style="text-decoration: underline;" :href="'/repository/template/'+scope.row.externalId.toLowerCase()" target="_blank">{{scope.row.event}}</a>
                                </span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="description"
                                    label="Description">
                            </el-table-column>
                            <el-table-column
                                    label="Value"
                                    width="200">
                                <template slot-scope="scope">

                                    <el-input class="model-input"
                                              :key="scope.row.dataId"
                                              v-if="scope.row.children==undefined&&scope.row.child!=true"
                                              :value="scope.row.iName==undefined ? (scope.row.fileName==undefined ? scope.row.value :(scope.row.fileName+'.'+scope.row.suffix)) : scope.row.iName"
                                              :id="'datainput'+scope.row.dataId"
                                              disabled="false">
                                    </el-input>

                                    <el-input class="model-input"
                                              v-if="scope.row.children==undefined&&scope.row.child==true"
                                              v-model="scope.row.val"
                                              :id="'datainput'+scope.row.dataId">
                                    </el-input>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="Operation"
                                    width="120">
                                <template slot-scope="scope">
                                    <div class="_btn-group" v-if="scope.row.children==undefined">

                                        <el-button v-if="scope.row.value != undefined && (scope.row.value == '' || scope.row.value.match(/http/))"
                                                   plain round type="primary" size="small" @click="upload(scope.row)">
                                            <i class="fa fa-cloud-upload"></i>
                                        </el-button>

                                        <el-button plain round type="warning" size="small" id="'download'+ scope.row.dataId"
                                                   v-if="scope.row.fileName!=''&&scope.row.fileName!=null"
                                                   @click="download(scope.row)" style="margin-left: 0px;">
                                            <i class="fa fa-download"></i>
                                        </el-button>
                                    </div>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>
                <div slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="checkData">OK</el-button>
                </div>
            </el-dialog>

            <el-dialog title="Integrated Models Execution" :visible.sync="executeVisible" width="30%">
                <div style="font-size: 18px">
                    Task Name : <el-input v-model="taskName" placeholder="Please name this task!" style="width: 80%;"></el-input>
                </div>
                <div slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="execute">Execute & Save</el-button>
                </div>
            </el-dialog>

            <input id="uploadInputData" type="file" style="display:none" />



        </div>
        <el-dialog append-to-body :visible.sync="userDataSpaceVisible" width="90%" class="noScroll">
            <user-data></user-data>
        </el-dialog>


        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <template th:replace="fragments/userDataSpaceOut :: userDataSpace"></template>

</body>


<script src="/static/js/page/userDataSpaceOut.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>

<script src="/static/js/page/integratedModeling.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/navbar.js"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<!--<script src="/static/js/common/navbarJquery.js/"></script>-->
<script>


</script>
</html>
