<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=5,IE=9" ><![endif]-->
<!DOCTYPE html>
<html>
<head>
    <title>Logical Model Builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/mxGraph_bc/styles/grapheditor.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css" />
    <script type="text/javascript" src="/static/js/common/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
        // Parses URL parameters. Supported parameters are:
        // - lang=xy: Specifies the language of the user interface.
        // - touch=1: Enables a touch-style user interface.
        // - storage=local: Enables HTML5 local storage.
        // - chrome=0: Chromeless mode.
        var urlParams = (function(url)
        {
            var result = new Object();
            var idx = url.lastIndexOf('?');

            if (idx > 0)
            {
                var params = url.substring(idx + 1).split('&');

                for (var i = 0; i < params.length; i++)
                {
                    idx = params[i].indexOf('=');

                    if (idx > 0)
                    {
                        result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
                    }
                }
            }

            return result;
        })(window.location.href);

        // Default resources are included in grapheditor resources
        mxLoadResources = false;

        //Default Model
        var LogicalModel = {
            basicInfo : {
                name:"",
                description:"",
                modelDependency:""
            },
            modelItems:[],
            dataItems:[],
            condition:[],
            operation:[]
        };
        var emptyGraph = "<mxGraphModel><root><mxCell id=\"0\"/><mxCell id=\"1\" parent=\"0\"/></root></mxGraphModel>";
        var Integration = "";
        var ModelDependency = "";
        var ConditionDependency = "";
        var DataDependency = "";

        var currentUID="basicXML";
    </script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Init.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/deflate/pako.min.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/deflate/base64.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/jscolor/jscolor.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/sanitizer/sanitizer.min.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/mxgraph/js/mxClient.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/EditorUi.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Editor.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Sidebar.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Graph.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Shapes.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Actions.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Menus.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Format.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Toolbar.js"></script>
    <script type="text/javascript" src="/static/mxGraph_bc/js/Dialogs.js"></script>
</head>
<body class="geEditor">

<iframe id="myIfm" name="myIfm" style="display: none"></iframe>

<script type="text/javascript" src="/static/mxGraph_bc/js/Collaboration.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script> <script src="/static/js/common/navbar.js"></script>
<script>
    function getCxml(){
       return ui.editor.getGraphXml().outerHTML;
    }

    function getSvg() {
        new PrintDialog(ui,'save').container;
        return $("svg").eq(7).html();
    }

    function getW(){
        let gb = graph.getGraphBounds();
        return Math.ceil(gb.width);
    }

    function getH() {
        let gb = graph.getGraphBounds();
        return Math.ceil(gb.height);
    }
</script>
</body>
</html>
