<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logical Model | OpenGMS</title>


    <link rel="stylesheet" th:href="@{/static/element-ui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/other/computable-test.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">

    <style>
        .img img{
            width:90px;
            height: 90px;
        }

    </style>
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="margin:40px 0px;height: auto;">
        <el-col :offset="3" :span="18">
            <el-row class="left-panel">
                <el-col :span="16" style="border-right: #d2d2d2 solid 1px">
                    <div class="detail">
                        <div class="detail_title" >
                            <a href="javascript:void(0)" class="el-icon-arrow-left" style="font-size: 20px"></a>
                            <h2 th:utext="${modelInfo.name}" style="display: inline-block;margin:0px 10px"></h2>
                            <a href="javascript:void(0)" class='fa fa-pencil fa-2x' aria-hidden='true'></a>
                            <a href="javascript:void(0)" class='fa fa-star-o fa-2x pull-right' aria-hidden='true'></a>
                        </div>
                        <div class="detail_overview">

                            <div th:switch="${#lists.size(modelInfo.image)}" class="img" >
                                <img th:case="0" src="/static/img/model/conceptual.png">
                                <img th:case="*" th:src="'/static/img'+${modelInfo.image[0]}">
                            </div>

                            <div class="info" style="padding-top:0px">
                                <p th:text="${modelInfo.description}"></p>
                                <div class="tags">
                                    <span th:each="keyword:${modelInfo.keywords}" th:text="${keyword}" class="badge badge-info">
                                        DEM Characteristics
                                    </span>

                                </div>
                            </div>

                            <div class="detail_option">
                                <a href="javascript:void(0)" class="fa fa-share-square-o" aria-hidden="true"></a>
                                <div th:utext="'&nbsp&nbsp'+${modelInfo.shareCount}">&nbsp&nbsp37</div>
                                <a href="javascript:void(0)" class="fa fa-eye" aria-hidden="true"></a>
                                <div th:utext="'&nbsp&nbsp'+${modelInfo.viewCount}">&nbsp&nbsp341</div>
                            </div>

                        </div>

                    </div>
                </el-col>
                <el-col :span="8" style="border-left: #d2d2d2 solid 1px;margin-left:-1px">
                    <div th:if="${!modelInfo.isAuthor}">
                        <div id="Author" class="detail_block">
                            <div class="block_head">
                                <div class="head_text" style="padding-left: 10px;">
                                    <h4>Author</h4>
                                </div>
                            </div>
                            <div class="block_content">
                                <div class="user" >
                                    <ul class="p-info">
                                        <li>
                                            <div class="name">Name</div>
                                            <div class="content" th:text="${modelInfo.realAuthor.name}">Male</div>
                                        </li>
                                        <li>
                                            <div class="name">Affiliation</div>
                                            <div class="content" th:text="${modelInfo.realAuthor.ins}">ABC Inc.ABC Inc.ABC Inc.ABC Inc.ABC Inc.</div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div id="Creator" class="detail_block" style="margin-bottom: 30px">
                            <div class="block_head">
                                <div class="head_text" style="padding-left: 10px;">
                                    <h4>Creator</h4>
                                </div>
                            </div>
                            <div class="block_content">
                                <img th:src="${user.image}==''?'/static/img/icon/default.png':${user.image}" class="round_icon" style="width:50px;height: 50px;float:left;">
                                <div class="text-center" style="margin-left: 55px;display: block;">
                                    <a th:href="'/profile/'+${user.userId}"><h4 th:text="${user.name}">Tom Marvolo Riddle</h4></a>
                                </div>
                                <div class="text-center">
                                    <h5 th:text="'contributed at '+${date}">contributed at 2018-7-13 14:32:18 </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:if="${modelInfo.isAuthor}">
                        <div id="CreatorAndAuthor" class="detail_block" style="margin-bottom: 30px">
                            <div class="block_head">
                                <div class="head_text" style="padding-left: 10px;">
                                    <h4>Author & Creator</h4>
                                </div>
                            </div>
                            <div class="block_content">
                                <img th:src="${user.image}==''?'/static/img/icon/default.png':${user.image}" class="round_icon" style="width:50px;height: 50px;float:left;">
                                <div class="text-center" style="margin-left: 55px;display: block;">
                                    <a th:href="'/profile/'+${user.userId}"><h4 th:text="${user.name}">Tom Marvolo Riddle</h4></a>
                                </div>
                                <div class="text-center">
                                    <h5 th:text="'contributed at '+${date}">contributed at 2018-7-13 14:32:18 </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>

            <el-row>
                <div id="graph" class="detail_block">
                    <div class="block_head">
                        <div class="head_text">
                            <h4>Graph</h4>
                        </div>
                    </div>
                    <div class="block_content" style="margin-top:20px;">
                        <el-tabs class="right-content" v-model="activeNameGraph" type="border-card" stretch="true">
                            <el-tab-pane label="Image" name="Image" th:if="${modelInfo.contentType}!='MxGraph'">
                                <center th:each="image:${modelInfo.image}"><img th:src="'/static/img'+${image}"></center>
                            </el-tab-pane>
                            <el-tab-pane label="Image" name="Image" th:if="${modelInfo.contentType}=='MxGraph'">
                                <center><div th:utext="${modelInfo.svg}"></div></center>
                            </el-tab-pane>
                            <el-tab-pane label="MxGraph" name="MxGraph" style="display: none" th:if="${modelInfo.contentType}=='MxGraph'">
                                <div id="container_top" style="min-height:639px;position:relative;border: 2px solid rgb(223, 223, 223);border-width: 0 1px" >
                                    <div id="container" class="geEditor" style="left: 0; top:0;right: 0;bottom: 0;position: absolute;" th:content="${modelInfo.cXml}"></div>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>


                <div id="cite" class="detail_block">
                    <div class="block_head">
                        <div class="head_text">
                            <h4>How to cite</h4>
                        </div>
                    </div>
                    <div class="block_content">
                        <div id="cite-text">
                            <span th:text="${modelInfo.author}+'.('+${year}+').'+${modelInfo.name}+','">
                            Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                            </span>
                            <a style="word-break:break-all;" th:href="'https://geomodeling.njnu.edu.cn/logicalModel/'+${modelInfo.oid}"
                               th:text="'https://geomodeling.njnu.edu.cn/logicalModel/'+${modelInfo.oid}">
                                https://geomodeling.njnu.edu.cn/logicalModel/4e028983-c8c0-4d98-86cd-85fc16a00d21
                            </a>
                        </div>
                        <div id="copy" class="btn btn-info">
                            Copy
                        </div>
                    </div>
                </div>


            </el-row>
        </el-col>


    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>

<script src="/static/js/common/knockout-3.4.2.js"></script>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/jquery.gritter.min.js"></script>
<script src="/static/js/common/lodash.js"></script>
<script src="/static/js/common/bootstrap.js"></script>
<script src="/static/js/common/bootstrap-treeview.js"></script>

<script type="text/javascript">
    // Parses URL parameters. Supported parameters are:
    // - lang=xy: Specifies the language of the user interface.
    // - touch=1: Enables a touch-style user interface.
    // - storage=local: Enables HTML5 local storage.
    // - chrome=0: Chromeless mode.
    var urlParams = (function (url) {
        var result = new Object();
        var idx = url.lastIndexOf('?');

        if (idx > 0) {
            var params = url.substring(idx + 1).split('&');

            for (var i = 0; i < params.length; i++) {
                idx = params[i].indexOf('=');

                if (idx > 0) {
                    result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
                }
            }
        }

        return result;
    })(window.location.href);

    // Default resources are included in grapheditor resources
    mxLoadResources = false;
    mxBasePath = "/static/MxGraph/";
    window.STYLE_PATH = "/static/js/conceptModelEditor/styles";
    window.RESOURCES_PATH = "/static/js/conceptModelEditor/resources";
    window.IMAGE_PATH = "/static/js/conceptModelEditor/images";
    window.STENCIL_PATH = "/static/js/conceptModelEditor/stencils";
    EXPORT_URL = "https://geomodeling.njnu.edu.cn/GeoModelingNew/MyTestServlet";
    SAVE_URL = "https://geomodeling.njnu.edu.cn/GeoModelingNew/MyTestServlet";

    editMode = false;
</script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Init.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/jscolor/jscolor.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/sanitizer/sanitizer.min.js"></script>
<script type="text/javascript" src="/static/MxGraph/js/mxClient.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/EditorUi.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Editor.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Sidebar.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Graph.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Shapes.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Actions.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Menus.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Format.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Toolbar.js"></script>
<script type="text/javascript" src="/static/js/conceptModelEditor/js/Dialogs.js"></script>
<script type="text/javascript">
    // Extends EditorUi to update I/O action states based on availability of backend
    (function () {
        // var url = location.href;
        // var first = url.indexOf("=");
        // var last = url.indexOf("#");
        // var uid = "";
        // if (first > 0) {
        //     if (last > 0) {
        //         uid = url.substring(url.indexOf("=") + 1, last);
        //     } else {
        //         uid = url.substring(url.indexOf("=") + 1, url.length);
        //     }
        // }

        //uid = "OGU0YTA1YWYtZTc4ZS00NDViLTg5ZGQtODcyODFjODcwNWM2MTY=";//window.sessionStorage.getItem("conceptualModelInfo_id")

        var editorUiInit = EditorUi.prototype.init;

        EditorUi.prototype.init = function () {
            editorUiInit.apply(this, arguments);

            // Updates action states which require a backend
            if (!Editor.useLocalStorage) {
                mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function (req) {
                    var enabled = req.getStatus() != 404;
                    this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
                    this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
                    this.actions.get('save').setEnabled(enabled);
                    this.actions.get('saveAs').setEnabled(enabled);
                    this.actions.get('export').setEnabled(enabled);
                }));
            }
            else {
                var enabled = true;
                //					this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
                //					this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
                //					this.actions.get('save').setEnabled(enabled);
                //					this.actions.get('saveAs').setEnabled(enabled);
                //					this.actions.get('export').setEnabled(enabled);
            }
        };

        // Adds required resources (disables loading of fallback properties, this can only
        // be used if we know that all keys are defined in the language specific file)
        mxResources.loadDefaultBundle = false;
        var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
            mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

        // Fixes possible asynchronous requests
        mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function (xhr) {
            // Adds bundle text to resources
            mxResources.parse(xhr[0].getText());

            // Configures the default graph theme
            var themes = new Object();
            themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

            // Main
            if($("#container").length!=0) {
                mainUI = new EditorUi(new Editor(urlParams['chrome'] == '0', themes), document.getElementById("container"));
                mainUI.setPageVisible(false);

                mainUI.editor.graph.setCellsLocked(true);
                mainUI.editor.graph.setCellsEditable(false);
                mainUI.editor.graph.setCellsResizable(false);
                mainUI.editor.graph.setCellsDeletable(false);
                mainUI.editor.graph.setCellsMovable(false);
                mainUI.editor.graph.setCellsBendable(false);
                mainUI.editor.graph.setCellsCloneable(false);
                mainUI.editor.graph.setCellsDisconnectable(false);

                //mainUI.editor.graph.setEnabled(false);
                mainUI.editor.graph.setCellsSelectable(true);
                mainUI.editor.graph.connectionArrowsEnabled = false;
                mainUI.editor.graph.connectionHandler.setEnabled(false);

                //  mainUI.setStatusText("Load OK");
                // $.ajax({
                //     url: "https://geomodeling.njnu.edu.cn/GeoModelingNew/ConceptModelInfoServlet",
                //     type: "get",
                //     data: { "mid": uid },
                //     success: function (result) {
                //         $(".showbox").hide();
                //         var data = JSON.parse(result);

                var xml_doc = mxUtils.parseXml($("#container").attr("content"));
                xml_doc.documentElement.setAttribute("page", 0);
                mainUI.editor.setGraphXml(xml_doc.documentElement);
                window.onbeforeunload = null;
                //     }
                // })
            }
        }, function () {
            document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
        });
    })();
</script>

<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/page/logical_model.js"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/js/common/copy.js"></script>

</html>