<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Statistics | OpenGMS</title>

</head>
<body>
<div id="app" style="font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;">

    <div style="height:70px;background-color:#080a0e;border-radius: 5px;display: flex;align-items: center;justify-content: center">
        <img src="https://geomodeling.njnu.edu.cn/static/img/logo.png" style="height: 60px;">
        <span style="color: white;font-size: 30px;margin:15px 0 0 20px">Statistics</span>
    </div>
    <div class="header" style="margin-top:20px;">
        <div style="display: inline-block; border-right: 1px solid rgb(170, 170, 170);display: flex;flex-wrap:wrap;align-items: center;justify-content: center;width:50%">
            <h3 style="width:100%;text-align: center;font-size: 24px;font-weight: 400">Computable Model</h3><br/>
            <a style="width:100%;text-align: center;" href="https://geomodeling.njnu.edu.cn/computableModel/16e31602-bd05-4da4-bd01-cb7582c21ae8">
                <h3 style="font-size: 24px;font-weight: 400">SWAT_Model</h3>
            </a>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</div>

</body>

</html>