<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title th:text="${info.themename}+' | Theme | OpenGMS'">Model Item Info | OpenGMS</title>
    <link rel="icon" type="image/x-icon" href="/static/img/logo/favicon.ico">
    <script src="/static/js/common/vue.min.js"></script>
    <script src="/static/js/common/vue-avatar.min.js"></script>
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common/navbar.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/page/load-theme.css">

    <style>
        .block{
            display: none;
        }
        .el-card__body{
            padding:0;
        }
        .el-menu{
            border:none;
        }
    </style>



</head>
<body class="scrollbar">
<div id="app">

    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <!--左侧菜单栏-->
                    <el-card style="position:fixed;" id="subcard">
                                <div class="logoPanel">

                                </div>
                                <div slot="header" class="clearfix text-center">
                                    <img th:src="${info.image}">
                                    <div th:utext="${info.themename}" style="font-size: 24px;color:#444"></div>
                                    <!--<a th:href="'/user/'+${info.creator_oid}"> <span th:utext="'Created by '+${info.creator_name}"></span></a>-->
                                </div>
                                <div class="el-row"
                                     style="display: flex; justify-content: center; align-items: center;border-bottom:1px solid #EBEEF5;padding:20px 0">
                                    <div class="el-col el-col-4 el-col-offset-3">
                                        <img th:src="'/static/img/icon/default.png'"
                                             class="round_icon" style="width:40px;height: 40px;float:left;">
                                    </div>
                                    <div class="el-col el-col-17" style="display:flex;">
                                        <div class="pull-left" style="display: block;margin:0 auto;">
                                            <a th:href="'/user/'+${info.creator_oid}"><h4 th:text="${info.creator_name}">Tom Marvolo Riddle</h4></a>
                                        </div>
                                    </div>
                                </div>
                                <el-menu

                                        :default-active="defaultActive"
                                        ref="menu"
                                        class="el-menu-vertical-demo"
                                        @select=""
                                        active-text-color="#409EFF"
                                        :collapse="false">
                                   <el-menu-item index="1" th:onclick="'javascript:show(\'detailinfo'+'\',\'BasicInfoPanel\',\'detailIntroducePanel\')'">
                                       <i class="el-icon-info"></i>
                                       <span slot="title">Theme Info</span>
                                   </el-menu-item>
                                   <el-submenu index="2">
                                       <template slot="title">
                                           <i class="el-icon-menu"></i>
                                           <span slot="title">Models</span>
                                       </template>
                                       <div  th:each="modelClass,index:${modelClassInfos}">
                                       <el-menu-item th:index="'2-'+${index.index}" th:onclick="'javascript:show(\'modelClass'+${index.index}+'\',\'model\',\'block\')'">
                                           <span slot="title"  th:utext="${modelClass.name}" ></span>
                                       </el-menu-item>
                                       </div>
                                   </el-submenu>
                                    <el-submenu index="3">
                                        <template slot="title">
                                            <i class="el-icon-coin"></i>
                                            <span slot="title">Data</span>
                                        </template>
                                        <div th:each="dataClass,index:${dataClassInfos}">
                                            <el-menu-item th:index="'3-'+${index.index}" th:onclick="'javascript:show(\'dataClass'+${index.index}+'\',\'data\')'" >
                                                <span th:utext="${dataClass.name}"></span>
                                            </el-menu-item>
                                        </div>
                                    </el-submenu>
                                    <el-menu-item index="4" th:onclick="'javascript:show(\'application\',\'applicationPanel\')'">
                                        <i class="el-icon-s-tools"></i>
                                        <span slot="title"  id="applications1">Applications</span>
                                    </el-menu-item>
                               </el-menu>
                            </el-card>
                    <!--左侧菜单栏 END-->
                    <div class="col-sm-10" style="overflow: auto;padding:10px 20px;" id="right_content">
                        <div class="infoPanel container-fluid" id="BasicInfoPanel">
                            <div class="title text-center">
                                <h3>
                                    <span>Theme Info</span>
                                </h3>
                            </div>
                            <div th:utext="${detail}" id="detailinfo" class="detailIntroducePanel">
                            </div>
                        </div>

                        <div id="model" class="infoPanel container-fluid dataPanel">
                            <div class="title text-center">
                                <h3>
                                    <span>Model</span>
                                </h3>
                            </div>
                            <div th:each="modelClass,index:${modelClassInfos}">
                                <div class="x_content" th:id="'modelClass'+${index.index}">

                                    <el-row :gutter="20" type="center" class="row-bg" id="content">

                                        <el-col :span="4" th:each="item:${modelClass.content}" style="margin-top:20px;" id="model_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto" id="model_card">
                                                <a th:href="'http://geomodeling.njnu.edu.cn/modelItem/'+${item.oid}">
                                                    <img src="/static/img/thematic_center/thumb.png" class="image" id="model_image">
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span th:text="${item.name}"></span>
                                                </div>
                                            </el-card>
                                        </el-col>

                                    </el-row>

                                </div>
                            </div>
                        </div>

                        <div id="data" class="infoPanel container-fluid dataPanel">
                            <div class="title text-center">
                                <h3>
                                    <span>Data</span>
                                </h3>
                            </div>
                            <div th:each="dataClass,index:${dataClassInfos}" >
                                <div class="x_content" th:id="'dataClass'+${index.index}">
                                    <el-row :gutter="20" type="center" class="row-bg" id="content1">
                                        <el-col :span="4" th:each="item:${dataClass.content}" style="margin-top:20px;" id="model_col2">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto">
                                                <!--<a th:href="${dataClass.url[0].url_download[0]}" ><img src="/static/thematicmodel/css/images/model/thumb.png" class="image"></a>-->
                                                <a th:href="'http://geomodeling.njnu.edu.cn/dataItem/'+${item.oid}"><img src="/static/img/thematic_center/thumb.png" class="image"></a>
                                                <div style="padding: 14px;">
                                                    <span th:text="${item.name}"></span>
                                                    <!--<a th:href="${dataClass.url[0].url_select}"> <el-button  type="success" class="button" id ="rbtn">data</el-button></a>-->
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                        </div>

                        <div class="infoPanel container-fluid applicationPanel" id="applicationPanel">
                            <div class="title text-center">
                                <h3>
                                    <span>Applications</span>
                                </h3>
                            </div>
                            <div id="applications">
                                <div class="x_content"  id="application">
                                    <el-row :gutter="20" type="center" class="row-bg" id="content2">
                                        <el-col :span="4" th:each="item:${applications}" style="margin-top:20px;" id="model_col3">
                                            <a th:href="${item.link}">
                                                <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto">
                                                    <img src="/static/img/thematic_center/thumb.png" class="image">
                                                    <div style="padding: 14px;">
                                                        <span th:text="${item.name}"></span>
                                                    </div>
                                                </el-card>
                                            </a>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-card>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<script src="/static/element-ui/index.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/js/page/load-theme.js"></script>
<script src="/static/js/common/navbar.js"></script>

</html>