<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title th:text="${info.name}+' | Unit & Metric | OpenGMS'">Unit & Metric | OpenGMS</title>
    <link href="/static/css/base/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/universal.css}">
    <link rel="stylesheet" th:href="@{/static/css/base/itemInfo.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/model_item_info.css}">
    <link rel="stylesheet" th:href="@{/static/css/page/repositoryInfo.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/common/footerResponse.css" />
    <style>
        #description h1{
            font-size: 24px;
        }
        #description h2{
            font-size: 22px;
        }
        #description h3{
            font-size: 20px;
        }
        #description h4{
            font-size: 18px;
        }

        .fullPaper{
            position:relative;
            padding-top:100px;
            margin-top:-110px;
            background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,0)),color-stop(90%, #fff));
            background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 90%);
            margin-bottom:20px;
        }

        .el-tabs--border-card{
            box-shadow:none;
            -webkit-box-shadow:none;
        }

        .modal-content{
            border-radius: 0!important;
        }

        .form-control{
            border-radius: 0!important;
        }
    </style>
</head>
<body>
<div id="app">
    <div th:replace="fragments/navbar :: unlog"></div>

    <div class="clearfix" style="margin:40px 0px;height: auto;">
        <div class="left-panel el-col">
            <div class="detail">
                <div class="detail_title">

                    <h2 th:utext="${info.name}" style="display: inline-block;margin-right:15px;"></h2>
                    <div class="pull-right">
                        <el-tooltip popper-class="fontsize-15" content="Edit" effect="light" placement="top">
                            <a href="javascript:void(0);" th:if="${info.status=='Public'&&history!=true&&info.lock!=true}" class='fa fa-pencil fa-2x' aria-hidden='true' @click="edit"></a>
                        </el-tooltip>
                        <el-tooltip popper-class="fontsize-15" content="There is another version haven't been reviewed, you can edit it later or contact us." effect="light" placement="top">
                            <li th:if="${info.status=='Public'&&history!=true&&info.lock==true}" class='fa fa-pencil fa-2x' style="color:#cccccc" aria-hidden='true'></li>
                        </el-tooltip>
                        <el-tooltip popper-class="fontsize-15" th:content="${info.status}" effect="light" placement="top">
                            <i th:if="${info.status=='Public'}" class="el-icon-unlock public fontsize-2em"></i>
                            <i th:if="${info.status=='Discoverable'}" class="el-icon-unlock discoverable fontsize-2em"></i>
                            <i th:if="${info.status=='Private'}" class="el-icon-lock private fontsize-2em"></i>
                        </el-tooltip>
                        <!--<a href="javascript:void(0)" class='fa fa-star-o fa-2x pull-right' aria-hidden='true'></a>-->
                    </div>
                </div>
                <div class="detail_overview">

                    <div class="img">
                        <div th:switch="${info.image}" class="img">
                            <avatar th:case="''" th:username="${info.name}" :size="90" :rounded="false"></avatar>
                            <avatar th:case="null" th:username="${info.name}" :size="90" :rounded="false"></avatar>
                            <img th:case="*" th:src="${image}">
                        </div>
                    </div>

                    <div class="info">
                        <p th:text="${info.description}" style="word-break: break-word;"></p>
                        <div class="tags">
                            <span class="badge badge-info">Unit & Metric</span>
                        </div>
                    </div>

                    <div th:if="${history!=true}" class="detail_option">
                        <!--<a href="javascript:void(0)" class="fa fa-share-square-o" aria-hidden="true"></a>-->
                        <!--<div th:utext="'&nbsp&nbsp'+${modelInfo.shareCount}">&nbsp&nbsp37</div>-->
                        <a href="javascript:void(0)" class="fa fa-eye" aria-hidden="true"></a>
                        <div th:utext="'&nbsp&nbsp'+${info.viewCount}">&nbsp&nbsp341</div>
                    </div>
                </div>
            </div>

            <div id="alias" class="detail_block" th:if="${info.alias!=null&&#lists.size(info.alias)>0}">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Alias</h4>
                    </div>
                </div>
                <div class="block_content" style="margin-bottom:10px;">

                    <!--<el-tag type="success"  v-for="iter in dataCategory" @click="clickDataItemInfo(iter.id)" style="margin-left: 10px;font-weight: bold;color: #3396ef"> {{iter.cateContent}}</el-tag>-->

                    <el-tag th:each="alias:${info.alias}" th:text="${alias}"
                            style="margin: 0 10px 10px 0;font-weight: bold;color: #3396ef"></el-tag>

                </div>
            </div>


            <div id="Contributor0" class="detail_block minScreen">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4 th:if="${history!=true}">Contributor</h4>
                        <h4 th:if="${history==true}">Modifier</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div class="el-row"
                         style="margin-bottom: 3px;height: 40px; display: flex; justify-content: center; align-items: center;">
                        <div class="el-col">
                            <img th:src="${user.image}==''?'/static/img/icon/default.png':${user.image}"
                                 class="round_icon" style="width:40px;height: 40px;float:left;">
                        </div>
                        <div class="el-col">
                            <div class="pull-left" style="display: block;margin-left: 15px;">
                                <a th:href="'/profile/'+${user.userId}"><h4 th:text="${user.name}" style="padding: 0;">Tom Marvolo Riddle</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="el-row">
                        <div class="text-center">
                            <h5 th:if="${history!=true}" th:text="'contributed at '+${date}">contributed at 2018-7-13 14:32:18 </h5>
                            <h5 th:if="${history==true}" th:text="'modified at '+${date}">modified at 2018-7-13 14:32:18 </h5>
                        </div>
                    </div>
                </div>

            </div>

            <div id="classification" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Classification(s)</h4>
                    </div>
                </div>
                <div class="block_content" style="margin-top:20px;">
                    <div th:each="classS:${classifications}">
                        <span style="font-size:24px;margin-right: 8px">●</span>
                        <el-breadcrumb separator-class="el-icon-arrow-right">
                            <el-breadcrumb-item th:each="class:${classS}" th:text="${class}" :to="{ path: '/' }">Earth
                                System Classification
                            </el-breadcrumb-item>
                        </el-breadcrumb>
                    </div>
                </div>
            </div>

            <div id="transform" class="detail_block" style="display: none">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Transform</h4>
                    </div>
                </div>
                <div class="block_content transformContainer" >
                    <div class="col-sm-12 flexCol flexAlignCenter" >
                        <div style="margin-bottom: 2%">
                            <el-row :gutter="10">
                               <div class="col-md-6"><input id="ipt1" type="text" class="form-control" placeholder="input a value" style="
                          border-top-right-radius: 5px;
                          border-top-left-radius: 5px;
                          border-bottom-right-radius: 5px;
                          border-bottom-left-radius: 5px;"/></div>
                                <div class="col-md-6"><select class="form-control" id="slct1" placeholder="enter" ></select></div>
                                </el-select>
                            </el-row>

                        </div>
                        <div style="margin-bottom: 2%">
                            <el-row :gutter="10">
                                <div class="col-md-6"><input  readonly="readonly" id="ipt2" type="text" class="form-control" placeholder="output a value" style="border-radius: 20px;"/></div>
                                <div class="col-md-6"><select class="form-control" id="slct2" placeholder="enter" ></select></div>
                                </el-select>
                            </el-row>
                        </div>

                    </div>
<!--                    <button class="bg-primary" id="btn-cvt">Convert</button>-->
                    <div class="col-sm-2 flexCol flexAlignCenter"><el-button id="btn-cvt" type="primary" >Convert</el-button></div>

                </div>

            </div>

            <div id="description" th:if="${#lists.size(info.localizationList)>0}" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Detailed Description</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div class="LanguageInfoContainer" th:each="localization:${info.localizationList}" th:id="${localization.localCode}">
                        <table class="table table-bordered" >
                            <thead>
                            <tr>
                                <th class="thMain" th:text="${localization.localName}"></th>
                            </tr>
                            </thead>
                        </table>
                        <table class="table table-bordered">
                            <colgroup>
                                <col width="25%">
                                <col width="75%">
                            </colgroup>
                            <tr th:if="${localization.name!=''}">
                                <td>Name</td>
                                <td class="enName" th:text="${localization.name}"></td>
                            </tr>
                            <tr th:if="${localization.description!=''}">
                                <td>Description</td>
                                <td class="enDesc" th:utext="${localization.description}"></td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

<!--            <div th:if="${info.detail == null}" class="text-center" >-->
<!--                <a id="addLocalization" style="cursor:pointer;font-size:16px;" data-toggle="modal" data-target="#myModal">Add Localization<i class="fa fa-plus" style="margin-left: 10px;color:#339fff;font-weight: bold" aria-hidden="true"></i></a>-->
<!--            </div>-->

            <div id="cite" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>How to cite</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div id="cite-text">

                        <span th:text="${user.name}+' ('+${year}+'). '+${info.name}+', Unit & Metric, OpenGMS, '">
                        Tom Marvolo Riddle.(2018).Integrated stand growth model data,
                        </span>
                        <a style="word-break:break-all;" th:href="'https://geomodeling.njnu.edu.cn/repository/unit/'+${info.oid}"
                           th:text="'https://geomodeling.njnu.edu.cn/repository/unit/'+${info.oid}">
                            https://geomodeling.njnu.edu.cn/modelitem/4e028983-c8c0-4d98-86cd-85fc16a00d21
                        </a>
                    </div>
                    <div id="copy" class="btn btn-info">
                        Copy
                    </div>
                </div>
            </div>

            <div id="copyright" class="detail_block">
                <div class="block_head">
                    <div class="head_text">
                        <h4>Copyright and Disclaimer</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div class="copyright_text">
                        All copyrights of a material (model, data, article, etc.) in the OpenGMS fully belong to its author/developer/designer (or any other wording about the owner). The OpenGMS takes every care to avoid copyright infringement, contributor(s) should carefully employ materials from other sources and give proper citations.
                    </div>
                </div>
            </div>

            <div id="Modifier0" class="detail_block minScreen"
                 th:if="${history!=true&&info.contributors!=null&&#lists.size(info.contributors)!=0}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>History</h4>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;">

                        <div class="panel-body" style="padding-left: 0px; padding-top: 7px; padding-right: 0px;">
                            <dl>
                                <dt>Last modifier :&nbsp</dt>
                                <dd><a th:text="${lastModifier.name}" th:href="${'/profile/'+lastModifier.userId}"
                                       target="_blank"></a></dd>
                                <dt>Last modify time :&nbsp</dt>
                                <dd th:text="${lastModifyTime}"></dd>
                                <dt>Modify times :&nbsp</dt>
                                <dd><span th:text="${#lists.size(info.versions)+'&nbsp'}"></span><a
                                        th:href="'/version/historyList/unit/'+${info.oid}" target="_blank">View
                                    History</a></dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>

            <div id="QR0" class="detail_block minScreen">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>QR Code</h4>
                    </div>
                </div>
                <div class="block_content">

                    <div class="qrcode" style="width:200px;height:200px;margin:0 auto"></div>

                </div>
            </div>

            <div id="comments" class="detail_block">
                <template th:replace="fragments/comments :: comments"></template>
            </div>
        </div>

        <div class="right-panel el-col">
            <div id="Contributor" class="detail_block">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4 th:if="${history!=true}">Contributor</h4>
                        <h4 th:if="${history==true}">Modifier</h4>
                    </div>
                </div>
                <div class="block_content">
                    <div class="el-row"
                         style="margin-bottom: 3px;height: 40px; display: flex; justify-content: center; align-items: center;">
                        <div class="el-col">
                            <img th:src="${user.image}==''?'/static/img/icon/default.png':${user.image}"
                                 class="round_icon" style="width:40px;height: 40px;float:left;">
                        </div>
                        <div class="el-col">
                            <div class="pull-left" style="display: block;margin-left: 15px;">
                                <a th:href="'/profile/'+${user.userId}"><h4 th:text="${user.name}" style="padding: 0;">Tom Marvolo Riddle</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="el-row">
                        <div class="text-center">
                            <h5 th:if="${history!=true}" th:text="'contributed at '+${date}">contributed at 2018-7-13 14:32:18 </h5>
                            <h5 th:if="${history==true}" th:text="'modified at '+${date}">modified at 2018-7-13 14:32:18 </h5>
                        </div>
                    </div>
                </div>

            </div>

            <div id="Modifier" class="detail_block"
                 th:if="${history!=true&&info.contributors!=null&&#lists.size(info.contributors)!=0}">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>History</h4>
                    </div>
                </div>
                <div class="block_content text-center" style="padding-left:10px">

                    <div style="text-align: left;">

                        <div class="panel-body" style="padding-left: 0px; padding-top: 7px; padding-right: 0px;">
                            <dl>
                                <dt>Last modifier :&nbsp</dt>
                                <dd><a th:text="${lastModifier.name}" th:href="${'/profile/'+lastModifier.userId}"
                                       target="_blank"></a></dd>
                                <dt>Last modify time :&nbsp</dt>
                                <dd th:text="${lastModifyTime}"></dd>
                                <dt>Modify times :&nbsp</dt>
                                <dd><span th:text="${#lists.size(info.versions)+'&nbsp'}"></span><a
                                        th:href="'/version/historyList/unit/'+${info.oid}" target="_blank">View
                                    History</a></dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>

            <div id="QR" class="detail_block">
                <div class="block_head">
                    <div class="head_text" style="padding-left: 10px;">
                        <h4>QR Code</h4>
                    </div>
                </div>
                <div class="block_content">

                    <div class="qrcode" style="width:200px;height:200px;margin:0 auto"></div>

                </div>
            </div>

        </div>

        <div th:if="${history==true}"
             style="pointer-events:none;position: absolute;top:62px;bottom: 0;left: 0;right: 0;background-image: url('/static/img/historyBackground.png')"></div>

    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Localization</h4>
                </div>
                <div class="modal-body">
                    <form id="addConceptLocalizationForm" role="form" method="post">
                        <div class="form-group hidden">
                            <input type="text" name="id" class="form-control" th:value="${info.oid}">
                        </div>
                        <div class="form-group">
                            <label>Language</label>
                            <input type="text" name="language" class="form-control" placeholder="Please Input Language">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Please Input Name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="desc" class="form-control" placeholder="Please Input Description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancle</button>
                    <button type="button" class="btn btn-primary" onclick="submitFrom()">Ok</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>
<script type="text/javascript" src="/static/js/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/qrcode.min.js"></script>
<script type="text/javascript" src="/static/js/page/repositoryInfo.js"></script>
<script src="/static/js/common/loadUser.js"></script>
<script src="/static/js/common/copy.js"></script>
<script src="/static/js/common/bootstrap.min.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/common/navbar.js"></script>
<script th:inline="javascript">

var oid_cvt=[[${oid_cvt}]];

if(oid_cvt!=null){
    $("#transform").show();
}

var data;
var prearr=new Array();

if(oid_cvt!="") {
    $.get("/repository/getUnitConvertInfo/" + oid_cvt, function (result) {
        data = result;
        adddata(data);
    });
    var name = [[${info.name}]];
    if(name.indexOf('_')!=-1)
    {
        name=name.replace(/_/,'');
    }

    //

    function adddata(data) {
        //json数据
        // $("p").html(data.XmlDoc)

        $('#slct1').append("<option style='display: none' value='-1'>select the unit</option>");
        $('#slct2').append("<option style='display: none' value='-1'>select the unit</option>");
        var a = 0;
        var tag=0;
        $.each(data.Units, function (i, field) {
            //加入singularname
            if (typeof (field['Prefixes']) == "object")
                prearr.push(field.SingularName);
            a++;
            tag=0;
            var data = "<option value='" + a + "'>" + field.SingularName + '</option>'
            if(field.SingularName.toString().toUpperCase()==name)
            {
                var data2="<option value='" + a + "'>" + field.SingularName + '</option>'
                data="<option selected value='" + a + "'>" + field.SingularName + '</option>'
                tag=1;
            }
            $('#slct1').append(data)


            if(tag==0){

                $('#slct2').append(data)
            }
            else {
                $('#slct2').append(data2)
            }

            //加入有前缀的singularname
            if (field['Prefixes']) {
                $.each(field['Prefixes'], function (tmp, field1) {
                    a++
                    var data =
                        "<option value='" +
                        a +
                        "'>" +
                        field1 +
                        field.SingularName +
                        '</option>'
                    $('#slct1').append(data)
                    $('#slct2').append(data)
                })
            }
        })

    }




    $("#btn-cvt").click(function () {
        //json数据
        //得到input值以及选择的单位选项
        var slct1_value = document.getElementById("slct1").options[document.getElementById('slct1').selectedIndex].text
        var slct2_value = document.getElementById("slct2").options[document.getElementById('slct2').selectedIndex].text
        var cvt_value = document.getElementById("ipt1").value

        //用户未选择单位类型
        if (slct1_value == 'select the unit' || slct2_value == 'select the unit')
            alert("Please select the unit you want to convert!");
        else {
            //转换单位类型相同
            if (slct1_value == slct2_value)
                document.getElementById("ipt2").value = cvt_value
            else {

                var x = cvt_value
                var field
                var b_result


                //处理带有前缀的单位
                x = prefunc(slct1_value, x, 1)


                //unit to base
                for (field in data.Units) {
                    if (data.Units[field].SingularName == slct1_value) {
                        x = eval(data.Units[field].FromUnitToBaseFunc)
                        break
                    }
                }

                //处理带有前缀的单位
                x = prefunc(slct2_value, x, 2)


                //base to result
                for (field in data.Units) {
                    if (data.Units[field].SingularName == slct2_value) {
                        x = eval(data.Units[field].FromBaseToUnitFunc)
                        break
                    }
                }
                document.getElementById("ipt2").value = x
            }
        } //else
    })

    function select_prebase(value, loc, x, tag) {
        //选择转换前后的单位
        if (tag == 1)
            return pre_base(value, loc, x)
        else {
            //alert(loc)
            return base_pre(value, loc, x)
        }


    }

    function base_pre(value, loc, x) {
        //转换前缀to base unit
        var pre = value.substring(0, loc)
        switch (pre) {
            case "Nano":
                return x / 1e-9
            case "Micro":
                return x / 1e-6
            case "Milli":
                return x / 1e-3
            case "Centi":
                return x / 1e-2
            case "Deci":
                return x / 1e-1
            case "Hecto":
                return x / 1e2
            case "Kilo":
                return x / 1e3
            case "Mega":
                return x / 1e6
            case "Yocto":
                return x / 1e-24
            case "Zepto":
                return x / 1e-21
            case "Atto":
                return x / 1e-18
            case "Femto":
                return x / 1e-15
            case "Pico":
                return x / 1e-12
            case "Deca":
                return x / 1e1
            case "Giga":
                return x / 1e9
            case "Tera":
                return x / 1e12
            case "Peta":
                return x / 1e15
            case "Exa":
                return x / 1e18
            case "Zetta":
                return x / 1e21
            case "Yotta":
                return x / 1e24

        }

    }

    function pre_base(value, loc, x) {
        //转换unit to 前缀
        var pre = value.substring(0, loc)
        switch (pre) {
            case "Nano":
                return x * 1e-9
            case "Micro":
                return x * 1e-6
            case "Milli":
                return x * 1e-3
            case "Centi":
                return x * 1e-2
            case "Deci":
                return x * 1e-1
            case "Hecto":
                return x * 1e2
            case "Kilo":
                return x * 1e3
            case "Mega":
                return x * 1e6
            case "Yocto":
                return x * 1e-24
            case "Zepto":
                return x * 1e-21
            case "Atto":
                return x * 1e-18
            case "Femto":
                return x * 1e-15
            case "Pico":
                return x * 1e-12
            case "Deca":
                return x * 1e1
            case "Giga":
                return x * 1e9
            case "Tera":
                return x * 1e12
            case "Peta":
                return x * 1e15
            case "Exa":
                return x * 1e18
            case "Zetta":
                return x * 1e21
            case "Yotta":
                return x * 1e24
        }
    }

    // 处理带有前缀的单位
    //
    function prefunc(value, x, tag) {
        var loc;
        for (field in prearr) {
            loc = value.search(prearr[field]);
            if (loc != -1 && loc != 0) {
                return select_prebase(value, loc, x, tag);
            }
        }
        return x;
    }
}
</script>

<script>
    function submitFrom() {
        var arry = $("#addConceptLocalizationForm").serializeArray();
        var object = {};
        for(var i =0;i<arry.length;i++){
            var item = arry[i];
            object[item["name"]] = item["value"];
            if(item["name"]==="language"&&item["value"].trim().length<1){
                alert("Please enter language");
                return;
            }
            if(item["name"]==="name"&&item["value"].trim().length<1){
                alert("Please enter name");
                return;
            }
        }

        $.ajax({
            url:"/repository/addUnitLocalization",
            data:object,
            type:"post",
            success:function (result) {
                if(result.data==="ok"){
                    window.location.reload();
                }
            }
        })
    }
</script>

</html>