/* CSS Document */
.majorInformation{
	position: relative;
	min-height: 350px;
	border-bottom: 1px solid #e5e5e5;
	/*background: url("../../images/shareEnvironment/modelItem/modelItem.jpg");
    background-size: cover*/;
	/*background: #2b2f36;
    background-image: linear-gradient(-180deg, rgba(55,60,65,0.00) 38%, #00c0ff 100%) ;
     Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2f36+0,434d54+49,66757f+100*/
	background: #2b2f36; /* Old browsers */
	background: -moz-linear-gradient(top, #2b2f36 0%, #434d54 49%, #66757f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2b2f36 0%,#434d54 49%,#66757f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2b2f36 0%,#434d54 49%,#66757f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2f36', endColorstr='#66757f',GradientType=0 ); /* IE6-9 */
}

.majorInformation .basicInfo{
	position: absolute;
	top: 60px;
	width: 60%;
	left: 15%;
}

.majorInformation .imgpanel,.majorInformation .calcimgpanel,.majorInformation .rotateImgPanel{
	position: absolute;
	top: 80px;
	width: auto;
	right: 20%;
}

.majorInformation .imgpanel{
	animation:bounce 3s both infinite;
	-moz-animation:bounce 3s both infinite; /* Firefox */
	-webkit-animation:bounce 3s both infinite; /* Safari and Chrome */
	-o-animation:bounce 3s both infinite; /* Opera */
}

.majorInformation .calcimgpanel{
	height: 90px;
	width: 90px;
	background: url("../../images/shareEnvironment/calc1.png")no-repeat;
}
.majorInformation .calcimgpanel .calcImg{
	margin-left: 25px;
	margin-top: 15px;
	-webkit-transform: rotate(360deg);
	animation: rotation 9s linear infinite;
	-moz-animation: rotation 9s linear infinite;
	-webkit-animation: rotation 9s linear infinite;
	-o-animation: rotation 9s linear infinite;
}

.majorInformation .rotateImgPanel{
	 -webkit-transform: rotate(360deg);
	 animation: rotation 9s linear infinite;
	 -moz-animation: rotation 9s linear infinite;
	 -webkit-animation: rotation 9s linear infinite;
	 -o-animation: rotation 9s linear infinite;
 }

@keyframes bounce
{
	0% {top: 80px;}
	50% {top: 90px}
	100% {top: 80px;}
}

@-moz-keyframes bounce /* Firefox */
{
	0% {top: 80px;}
	50% {top: 90px}
	100% {top: 80px;}
}

@-webkit-keyframes bounce /* Safari and Chrome */
{
	0% {top: 80px;}
	50% {top: 90px}
	100% {top: 80px;}
}

@-o-keyframes bounce /* Opera */
{
	0% {top: 80px;}
	50% {top: 90px}
	100% {top: 80px;}
}

@keyframes rotation
{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotation /* Firefox */
{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes rotation /* Safari and Chrome */
{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-o-keyframes rotation /* Opera */
{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

.majorInformation .title {
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	font-size: 44px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.majorInformation .majorContent {
	text-align: left;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	height: auto;
}
.majorInformation .majorContent a{
	color: #FFFFFF;
	text-decoration: none;
	display:block;
	margin-bottom: 10px;
}

.modelInfoPanel{
	width: 70%;
	/*max-width: 1000px;*/
	margin-left: 15%;
	margin-top: -50px;
	min-height: 200px;
	background: #FFFFFF;
}

.modelInfoPanel .infoTab{
	border-top: 2px solid #039be5;
}
.modelInfoPanel .infoTab2{
	border-bottom: 2px solid #039be5;
}
.modelInfoPanel #detailTab li a{
	padding:20px 15px;
}

.relateInfoPanel{
	margin-bottom: 20px;
}

.relatePanel .relateInfoPanel{
	margin-top: 20px;
	border: 1px solid #ececec;
	display: inline-flex;
	width: 100%;
	transition: all .15s cubic-bezier(.4,0,.2,1);
}
.relatePanel .relateInfoPanel .introArea {
	background: #f5f5f7;
	width: 18%;
	color: #373d41;
	vertical-align: top;
	padding: 20px;
	text-align: center;

}
.relatePanel .relateInfoPanel .introArea .titleContext {
	color: #373d41;
	font-size: 16px;
	font-weight: 600;
	padding: 4px 0;
}

.relatePanel .relateInfoPanel .detailArea{
	width: 82%;
}
.relatePanel .relateInfoPanel .detailArea .cardContent {
	padding: 6px 20px;
}
.detailArea .cardContent .contentInfo {
	display: inline-block;
	width: 24%;
	padding: 5px 10px 5px 0;
	vertical-align: middle;
	text-align: center;
	/*word-break: break-all;*/
}

.detailArea .cardContent .titleLabel {
	color: #333;
	font-size: 16px;
	padding-bottom: 4px;
	display: block;
	width: auto;
	white-space: nowrap;/*让文字不换行*/
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.detailArea .cardContent .titleLabel:hover{
	color: #039be5;
}

.detailArea .cardContent .authorLabel {
	/*color: #F05331;*/
	color:#333333;
	font-size: 14px;
	display: block;
	width: auto;
}

.detailArea a{
	text-decoration: none;
	cursor: pointer;
}

.modelInfoPanel .detailPanel{
	padding: 0px 5% 5% 5%;
}

.detailPanel h1{
	font-size: 28px;
	font-weight: bold;
}
.detailPanel h2{
	font-size: 24px;
	font-weight: bold;
}

.detailPanel .LanguageInfoPanel{
	width: 100%;
	display: inline-flex;
}

.detailPanel .LanguageInfoContainer{
	width: 45%;
}
.detailPanel .LanguageInfoContainer table{
	margin-bottom: 0px;
}

.modelInfoPanel .seeAlsoPanel{
	padding: 0 5% 25px 5%;
}
.modelInfoPanel .referencePanel{
	padding: 0 5% 50px 5%;
}
.seeAlsoPanel ul,.referencePanel ul{
	 padding: 0px;
 }
.seeAlsoPanel ul li{
	float: left;
	width: 50%;
	text-align: left;
}
.referencePanel ul li{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.seeAlsoPanel ul li a,.referencePanel ul li a{
	cursor: pointer;
	text-decoration: none;

}

table th, .table td {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}
.table .thSide{
	background-color:#F3F3F3;
	border-top:2px solid #ddd;
}
.table .thSide2{
	border:1px solid #FFF !important;
}
.table .thMain ,.table .thMain2{
	color:#3486D9;
	background-color:#E8F1FB;

}
.table .thMain{
	border-top:none;
}
.table .thMain2{
	border-top: 2px solid #ddd!important;
	border-left: 2px solid #ddd!important;
	border-bottom:none;
}

.sucTag{
	font-size: 14px;
	background-color: #0AD15D;
	vertical-align: middle;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 3px!important;
	padding: 1px;
	border-radius: 4px;
}

.errorTag{
	font-size: 14px;
	background-color: #f84a30;
	vertical-align: middle;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 0px!important;
	padding: 1px;
	border-radius: 4px;
}

#udxInfoPanel > div{
	border-left: 1px dashed rgb(153, 153, 153);
	margin-top: 10px;
	min-height: 200px;
}

@media (max-width: 1000px){
	.majorInformation .basicInfo{
		left: 5%;
		width: 80%;
	}
	.modelInfoPanel{
		width: 90%;
		margin-left: 5%;
	}
	.majorInformation .imgpanel,.majorInformation .calcimgpanel,.majorInformation .rotateImgPanel{
		right: 5%;
	}
	.seeAlsoPanel ul li,.referencePanel ul li{
		width: 50%;
	}
}

@media (max-width: 767px){
	#udxInfoPanel > div{
		border-left:none;
		margin-top: 20px;
	}
}