


.fullContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#upperContainer{
    height: 180px;
    background-color: #dadada;
    background-image: url("../../../static/img/carousels/banner.jpg");

}

#middleContainer{
    height: 45px;
    background-color: #f3f3f3;
}

.wzhFilter2{
    border-radius: 0px;
    position: absolute;
    width: 100%;
    height: 45px;
    z-index: 2;
    /*box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.5) ;*/
    /*border-width: 0em;*/
    overflow: hidden;
    /*background-color: rgba(255,255,255,0.9);*/
}

.wzhFilter2::before{
    display: inline-block;
    filter: blur(0px);
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -15px;
    position: absolute;

    z-index:-1;
    background-image: url("../../../static/img/carousels/banner.jpg");
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-position-x:9.5%;*/
    background-position-y: 1800px;
}


#downerContainer{
   background-color: #f3f3f3;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 1110px;
    height: 45px;
    border-bottom-style:solid;
    border-bottom-color: #adadad;
    border-bottom-width: 2px;

}

.menuContainer a{
    color: #2e3033e0;
    font-size: 16.5px;
}

.menuItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #f3f3f3;
    border-width: 0 0 2px 0;
    height: 45px;
    padding: 12px 0px;
    border-bottom-style:solid;
    border-bottom-color: #adadad;
    border-bottom-width: 2px;
    transition: 0.5s;
}

.menuItem>a{
    padding: 0 8px;
}

/*.menuItem::after{*/
/*    content: '';*/
/*    position: relative;*/
/*    !*top: 0;*!*/
/*    !*left: 0;*!*/
/*    !*right: 0;*!*/
/*    !*bottom: 0;*!*/
/*    height: 1px;*/
/*    margin-top: 8px;*/
/*    !*width: inherit;*!*/
/*    !*height:45px;*!*/
/*    border-bottom: 2px solid transparent;*/
/*    flex-grow: 1;*/
/*}*/

/*.menuItem:hover{*/
/*    border-bottom-color: #339fff;*/
/*    border-bottom-width: 3px;*/
/*}*/

.menuItem:focus{
    border-bottom-color: #339fff;
    border-bottom-width: 3px;
}

.menuBorder{
    width: 100%;
    margin-top: 7px;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.userInfoContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 150px;
}

.user_info{
    margin-left: 60px;
    margin-bottom: 30px;
    flex-grow: 1;
    display: block;
}

.bodyContainer{
    display: none;

    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 1100px;
    justify-content: space-between;
    align-items: flex-start;
}

.bodyContainer p{
    margin: 0;
}

.leftContentContainer{
    display: flex;
    flex-direction: column;
    width: 665px;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #f3f3f3;
}

.rigntContentContainer{
    display: flex;
    flex-direction: column;
    width: 420px;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #f3f3f3;
}

.contentColContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 3px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    /*color: #828282;*/
}

.contentColContainer ul{
    align-self:flex-start;
    width:260px;

}

.contentColContainer li{
    margin: 5px 15px;
    height: 35px;
    padding: 9px 5px 9px 16px;
}

.contentColContainer a{

    font-size: 16px;
    color: #222222;
}

.contentContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width:100% ;
    flex-grow: 1;
    /*height: 148px;*/
    background-color: #fbfbfb;
}

#selfIntroduction{
    height: 200px;
}

#personalIntro{
    height: 210px;
}

#modelItems{
    height: 300px;
}

#affiliation{
    height: 400px;
}

#researchIntroduction{
    height: 400px;
}

#contactInfo{
    height: 220px;
}

#contactInfoAll{
    height: 240px;
}

#modelTable{
    height: 1500px;
}

.statsNumberFullColor {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #0f9afa;
    width: 40px;
    height: 21px;
    /*border: #0f9ae0 2px solid;*/
    color: #fbfbfb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    padding-top: 0;
}

.statsNumber {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 47px;
    height: 21px;
    border: #0f9afa 2px solid;
    color: #0f9afa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    padding-top: 0;
}

.statsNumber>p{
    margin: 0;
}

.itemCard{
    display: flex;

    height: 115px;
    background-color: #ccebf887;
    box-shadow: 0 1px 1px    rgba(0,0,0,0.3);
}


.viewMoreButton{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-right: 15px;
    /*margin-left: 10px;*/
    color: white;
    font-size: 15px;
    border-width: 0px;
    border-radius: 3px;
    background-color: rgb(16, 173, 255)
}

.subTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    border-bottom-style:solid;
    border-bottom-color: rgba(180,180,180,0.6);
    border-bottom-width: 1px;
    color: #828282;
}

.splitBlock{
    /*width: 100%;*/
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 30px;
    background-color: #dadada;
    margin: 0 5px;
    padding: 0px 5px ;
}

.arrowDownerBig{

    margin-left:15px;
    margin-bottom:6px ;
    border-top: 2px solid #999999;
    border-right: 2px solid #999999;
    width: 10px;
    height: 10px;
    color: #555555;
    transform: rotate(135deg);
    z-index: 5;
}

.showActive{
    display: flex;
}

