
.fullContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.colArrange{
    flex-direction: column;
}

.spaceBetween{
    justify-content: space-around !important;
}

.titlePic{
    background-image: url("../../../static/img/carousels/banner.jpg");
    /*background-image: url("../../../static/img/carousels/xiaoJuDan.jpg");*/
    /*-webkit-background-size: 1920px;*/
    background-size: 3500px 2100px;
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    /*background-position-y: -600px;*/
    background-position-y: -60px;
}

#upperContainer{
    flex-direction: column;
    justify-content: center;
    height: 190px;
    /*background-color: #dadada;*/
}

#middleContainer{
    /*margin-top: 20px;*/
    height: 45px;
    background-color: rgba(255,255,255,0.39);
}

.wzhFilter2{
    border-radius: 0px;
    position: absolute;
    width: 100%;
    height: 45px;
    z-index: 2;
    /*box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.5) ;*/
    /*border-width: 0em;*/
    overflow: hidden;
    /*background-color: rgba(255,255,255,0.9);*/
}

.wzhFilter2::before{
    display: inline-block;
    filter: blur(0px);
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -15px;
    position: absolute;

    z-index:-1;
    background-image: url("../../../static/img/carousels/banner.jpg");
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-position-x:9.5%;*/
    background-position-y: 1800px;
}


#downerContainer{
   background-color: #f3f3f3;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 1110px;
    height: 45px;
    border-bottom-style:solid;
    border-bottom-color: #adadad;
    border-bottom-width: 2px;

}

.menuContainer a{
    color: rgba(46, 46, 46, 0.88);
    font-size: 16.5px;
}

.menuItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /*background-color: #f3f3f3;*/
    border-width: 0 0 2px 0;
    height: 45px;
    border-bottom-style:solid;
    border-bottom-color: #adadad;
    border-bottom-width: 2px;
    transition: 0.3s;
}

.menuItem>a{
    padding: 0 8px;
}

/*.menuItem::after{*/
/*    content: '';*/
/*    position: relative;*/
/*    !*top: 0;*!*/
/*    !*left: 0;*!*/
/*    !*right: 0;*!*/
/*    !*bottom: 0;*!*/
/*    height: 1px;*/
/*    margin-top: 8px;*/
/*    !*width: inherit;*!*/
/*    !*height:45px;*!*/
/*    border-bottom: 2px solid transparent;*/
/*    flex-grow: 1;*/
/*}*/

/*.menuItem:hover{*/
/*    border-bottom-color: #339fff;*/
/*    border-bottom-width: 3px;*/
/*}*/

.menuItem:focus{
    border-bottom-color: #339fff;
    border-bottom-width: 3px;
}

.menuBorder{
    width: 100%;
    margin-top: 1px;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.innerBorder{
    align-self: center;
    width: 95.5%;
    border-bottom: 1px solid #e1e1e1;
}

.userInfoContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 150px;
}

.user_info{
    margin-left: 60px;
    margin-bottom: 30px;
    flex-grow: 1;
    display: block;
    color: #f2f2f2;
}

.bodyContainer{
    display: none;

    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom: 15px;
    width: 1100px;
    justify-content: space-between;
    align-items: flex-start;
}

.bodyContainer p{
    margin: 0;
}

.leftContentContainer{
    display: flex;
    flex-direction: column;
    width: 665px;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #f3f3f3;
}

.rigntContentContainer{
    display: flex;
    flex-direction: column;
    width: 420px;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #f3f3f3;
}

.contentColContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 3px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    /*color: #828282;*/
}

.contentUlContainer ul{
    align-self:flex-start;
    width:260px;

}

.contentUlContainer li{
    margin: 5px 15px;
    height: 35px;
    padding: 9px 5px 9px 16px;
}

.contentColContainer a{

    font-size: 16px;
    color: #222222;
}

.contentContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Tahoma;
    width:100% ;
    flex-grow: 1;
    /*height: 148px;*/
    background-color: #fbfbfb;
}

#selfIntroduction{
    height: 200px;
}

#personalIntro{
    height: 210px;
}

#modelItems{
    height: 330px;
}

#affiliation{
    height: 400px;
}

#researchIntroduction{
    height: 400px;
}

#contactInfo{
    height: 270px;
}

#contactInfoAll{
    height: 240px;
}

.modelTable{
    /*height: 1500px;*/
}

#modelStatsTable{
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    background-size:cover ;
    /*background-image: url("../../../static/img/carousels/KenDing.jpg");*/
    /*background-position-x: 50%;*/
    background-position-y: 1400px ;

}

#contactTable{
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.statsNumber {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 47px;
    height: 21px;
    border: #0f9afa 2px solid;
    color: #0f9afa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    padding-top: 0;
}

.statsNumberFullColor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f9afa;
    width: 47px;
    height: 21px;
    /*border: #0f9ae0 2px solid;*/
    color: #fbfbfb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    padding-top: 0;
}

.statsNumber>p{
    margin: 0;
}


.itemCardRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 115px;
    margin: 0 10px ;
    border-radius: 3px;
    background-color: rgba(232, 232, 232, 0.6);
    box-shadow: 0px 2px 2px    rgba(0,0,0,0.3);
    font-family: sans-serif;
    border: 1px solid #d8dbe2;
}

.itemCardCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 115px;
    margin: 0 8px 10px;
    border-radius: 3px;
    background-color: rgba(232, 232, 232, 0.6);
    box-shadow: 0px 2px 2px    rgba(0,0,0,0.3);
    font-family: sans-serif;
    border: 1px solid #d8dbe2;
}

/*.upperCard{*/
/*    width: 100%;*/
/*    height: 65px;*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*    border-bottom:1px solid #d2d2d2;*/
/*}*/

/*.downerCard{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 50px;*/

/*}*/



.leftCard{
    width: 100px;
    height: 115px;
}

.rightCard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.titleCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;

}

.statsCard{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-top:1px solid #d2d2d2;*/
}

.cardUpper{
    display: flex;
    justify-content: flex-start;
    border-radius: 4px 4px 0 0;
    flex: 1;
    overflow: hidden;
    border: 1px solid #d8dbe2;
}

.cardDowner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 4px 4px ;
    overflow: hidden;
}

.viewMoreButton{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-right: 15px;
    /*margin-left: 10px;*/
    color: white;
    font-size: 15px;
    border-width: 0px;
    border-radius: 3px;
    background-color: rgb(16, 173, 255)
}



.subTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding: 0 20px;
    border-bottom-style:solid;
    border-bottom-color: rgba(180,180,180,0.6);
    border-bottom-width: 1px;
    color: #828282;
    font-family: Baskerville;
}

.splitBlock{
    /*width: 100%;*/
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 30px;
    background-color: #dadada;
    margin: 0 5px;
    padding: 0px 5px ;
}

.arrowDownerBig{

    margin-left:15px;
    margin-bottom:6px ;
    border-top: 2px solid #999999;
    border-right: 2px solid #999999;
    width: 10px;
    height: 10px;
    color: #555555;
    transform: rotate(135deg);
    z-index: 5;
}

.arrowRightBig{
    display: inline-block;
    position: absolute;
    margin-top:5px;
    margin-left: 8px;
    border-top: 3px solid;
    border-right: 3px solid;
    width: 13px;
    height: 13px;
    color: #999999;
    transform: rotate(45deg);
    z-index: 5;
}

.itemContainer{
    display: none;
}

.flexActive{
    display: flex;
}

.showActive{
    display: block;
}

.noneBorderButton{
    border: transparent;
    height: 45px;
    background-color: transparent;
    padding: 12px 8px 6px 8px;
}

.noneBorderButton:focus{
    outline: none;

}

.list-item{
    width: 100%;
}

.modelInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 15px;

}

.hotVisit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 15px;
    margin-left: 5px;
    margin-top: 2px;
    border-radius: 3px;
    background-color: #e65c25;
    color: #fcfcfc;
}

.noneDisplay{
    display: none;
}

.imgPallet{
    height: 170px;
    width: 155px;
    background-color: white;
}

.modelImg{
    width: 100%;
    height: 100%;
}

.blueFont{
    color:#00c0ff !important; ;
}

.wzhFilter_Lab{
    border-radius: 3px;
    position: absolute;
    width: 390px;
    height: 130px;
    max-width: 500px;
    height:55px;
    z-index: 2;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.5) ;
    /*border-width: 1em;*/
    overflow: hidden;
    color: #f2f2f2;
    /*background-color: rgba(255,255,255,0.7);*/
    padding-left: 18px;
}

.wzhFilter_Lab::before{
    filter: blur(4px);
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -12px;
    /*width: 102%;*/
    /*height: 60px;*/
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    z-index:-1;
    background-image: url("../../../static/img/carousels/Lab.jpg");
    background-position: center;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position-x:50%;
    background-position-y: 452px;
}

.containerWithBorder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 180px;
    height: 40px;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    border-radius: 6px;
    border-width: 2px ;
    border-style: solid;

}

.menuClicked{
    border-bottom-color: #34acff !important;
    background-color: rgba(255, 255, 255, 0.18);
}

.backTopUserpage{
    display: none;
    position: fixed;
    border-radius: 3px;
    right: 65px;
    bottom: 70px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
}

.cardHeadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardHeadContainer h4{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: rgb(56, 56, 56);
    line-height: 22px;
    max-width: 671px;
    font-weight: 600;
    max-height: 50px;
}

.cardContentContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    width: 100%;
}

.cardContentContainer p{
    margin-top: 5px;
    margin-left: 25px;
    font-size: 1.6rem;
}

.viewCount{
    width: 80px;
    margin-right: 15px;
}

.loaderBar{
    width: 100%;
    height: 3px;
    background-color: #0AD15D;
    animation: loadItems 1s 1;
}

@keyframes loadItems {
    from {left: 0;
        width: 0%;}
    to {width: 100%;}

}

.progressPanel .barControl{
    width: 30%;
    margin: 0 auto;
}
.progressPanel .barControl .barContro_space{
    border-radius: 5px;
}
.progressPanel .barControl .barContro_space .progress_line{
    height: 3px;
    width: 0%;
    border-radius: 2px;
    background: #008af1;
    display: block;
}
.progressPanel .barControl .barContro_space .progress_line.active{
    -webkit-animation:progressbar 0.75s;
    animation:progressbar 0.75s;
    animation-fill-mode:forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes progressbar {
    from {
        width:0
    }
    to {
        width:80%
    }
}
/* Standard syntax */
@keyframes progressbar {
    from {
        width:0
    }
    to {
        width:80%
    }
}

